# AI investidor. Qual AI investe melhor?

1. Problema:

Dentre ChatGPT, DeepSeek e Gemini, qual das 3 consegue montar uma carteira que performe melhor num período de 5 anos?

2. Condições:

Carteira com ações brasileiras

20 ações

Valor investido: R$10000

Estratégia:  buy n hold

Período: 5 anos (01/01/2020 - 31/12/2024)

3. Prompt utilizado:

Atue como um analista de investimentos e me forneça uma carteira de investimentos em formato de um dataframe python. A carteira deverá ser composta somente por ações de empresas brasileiras  disponíveis na B3. Além disso, limite-se a 20 ações. O dataframe deverá conter somente :

- nome da empresa
- ticker
- participação ( em decimais, não em percentuais)

4. Métricas avaliadas:

Retorno em Reais

Retorno normalizado

Volatilidade 

Comparação com IBOVESPA

Comparação com a taxa DI

# Importação de Bibliotecas

In [1]:
import pandas as pd #tratamento de dados
import matplotlib.pyplot as plt #datavisualization
import yfinance as yf#cotacoes dos ativos
from tradingcomdados import alternative_data as ad#informaçoes bolsa

## Importação de Carteiras

### Importação de Carteiras das AIs

In [ ]:
#Deepseek - dataframe gerado pela ia
carteira_deepseek =[
    {"nome_empresa": "Vale SA", "ticker": "VALE3.SA", "participacao": 0.095},
    {"nome_empresa": "Petróleo Brasileiro SA", "ticker": "PETR4.SA", "participacao": 0.125},
    {"nome_empresa": "Itaú Unibanco", "ticker": "ITUB4.SA", "participacao": 0.09},
    {"nome_empresa": "Banco Bradesco", "ticker": "BBDC4.SA", "participacao": 0.08},
    {"nome_empresa": "Banco do Brasil", "ticker": "BBAS3.SA", "participacao": 0.050},
    {"nome_empresa": "Weg SA", "ticker": "WEGE3.SA", "participacao": 0.050},
    {"nome_empresa": "Ambev SA", "ticker": "ABEV3.SA", "participacao": 0.045},
    {"nome_empresa": "Localiza Rent a Car", "ticker": "RENT3.SA", "participacao": 0.045},
    {"nome_empresa": "Suzano SA", "ticker": "SUZB3.SA", "participacao": 0.045},
    {"nome_empresa": "Equatorial Energia", "ticker": "EQTL3.SA", "participacao": 0.040},
    {"nome_empresa": "Rumo SA", "ticker": "RAIL3.SA", "participacao": 0.040},
    {"nome_empresa": "Telefônica Brasil", "ticker": "VIVT3.SA", "participacao": 0.040},
    {"nome_empresa": "JBS SA", "ticker": "JBSS3.SA", "participacao": 0.035},
    {"nome_empresa": "Gerdau SA", "ticker": "GGBR4.SA", "participacao": 0.035},
    {"nome_empresa": "Engie Brasil", "ticker": "EGIE3.SA", "participacao": 0.035},
    {"nome_empresa": "Lojas Renner", "ticker": "LREN3.SA", "participacao": 0.030},
    {"nome_empresa": "Raia Drogasil", "ticker": "RADL3.SA", "participacao": 0.030},
    {"nome_empresa": "Marcopolo", "ticker": "POMO4.SA", "participacao": 0.030},
    {"nome_empresa": "Multiplan", "ticker": "MULT3.SA", "participacao": 0.030},
    {"nome_empresa": "CCR SA", "ticker": "CCRO3.SA", "participacao": 0.030}
]

deepseek = pd.DataFrame(carteira_deepseek)
deepseek

              nome_empresa    ticker  participacao
0                  Vale SA  VALE3.SA         0.095
1   Petróleo Brasileiro SA  PETR4.SA         0.125
2            Itaú Unibanco  ITUB4.SA         0.090
3           Banco Bradesco  BBDC4.SA         0.080
4          Banco do Brasil  BBAS3.SA         0.050
5                   Weg SA  WEGE3.SA         0.050
6                 Ambev SA  ABEV3.SA         0.045
7      Localiza Rent a Car  RENT3.SA         0.045
8                Suzano SA  SUZB3.SA         0.045
9       Equatorial Energia  EQTL3.SA         0.040
10                 Rumo SA  RAIL3.SA         0.040
11       Telefônica Brasil  VIVT3.SA         0.040
12                  JBS SA  JBSS3.SA         0.035
13               Gerdau SA  GGBR4.SA         0.035
14            Engie Brasil  EGIE3.SA         0.035
15            Lojas Renner  LREN3.SA         0.030
16           Raia Drogasil  RADL3.SA         0.030
17               Marcopolo  POMO4.SA         0.030
18               Multiplan  MULT3.SA         0.030
19                  CCR SA  CCRO3.SA         0.030

In [ ]:
#chatgpt-dataframe gerado pela ia
chatgpt = pd.DataFrame([
    {"nome da empresa": "Vale S.A.", "ticker": "VALE3.SA", "participação": 0.14},
    {"nome da empresa": "Petrobras", "ticker": "PETR4.SA", "participação": 0.12},
    {"nome da empresa": "Itaú Unibanco", "ticker": "ITUB4.SA", "participação": 0.07},
    {"nome da empresa": "Banco do Brasil", "ticker": "BBAS3.SA", "participação": 0.06},
    {"nome da empresa": "Bradesco", "ticker": "BBDC4.SA", "participação": 0.06},
    {"nome da empresa": "Ambev", "ticker": "ABEV3.SA", "participação": 0.05},
    {"nome da empresa": "WEG S.A.", "ticker": "WEGE3.SA", "participação": 0.05},
    {"nome da empresa": "JBS S.A.", "ticker": "JBSS3.SA", "participação": 0.05},
    {"nome da empresa": "Suzano", "ticker": "SUZB3.SA", "participação": 0.05},
    {"nome da empresa": "B3 S.A.", "ticker": "B3SA3.SA", "participação": 0.05},
    {"nome da empresa": "Equatorial Energia", "ticker": "EQTL3.SA", "participação": 0.04},
    {"nome da empresa": "Engie Brasil", "ticker": "EGIE3.SA", "participação": 0.04},
    {"nome da empresa": "CPFL Energia", "ticker": "CPFE3.SA", "participação": 0.04},
    {"nome da empresa": "Localiza", "ticker": "RENT3.SA", "participação": 0.03},
    {"nome da empresa": "Magazine Luiza", "ticker": "MGLU3.SA", "participação": 0.03},
    {"nome da empresa": "Lojas Renner", "ticker": "LREN3.SA", "participação": 0.03},
    {"nome da empresa": "Raia Drogasil", "ticker": "RADL3.SA", "participação": 0.03},
    {"nome da empresa": "Totvs", "ticker": "TOTS3.SA", "participação": 0.02},
    {"nome da empresa": "Sabesp", "ticker": "SBSP3.SA", "participação": 0.02},
    {"nome da empresa": "Natura", "ticker": "NTCO3.SA", "participação": 0.02}
])
chatgpt

       nome da empresa    ticker  participação
0            Vale S.A.  VALE3.SA          0.14
1            Petrobras  PETR4.SA          0.12
2        Itaú Unibanco  ITUB4.SA          0.07
3      Banco do Brasil  BBAS3.SA          0.06
4             Bradesco  BBDC4.SA          0.06
5                Ambev  ABEV3.SA          0.05
6             WEG S.A.  WEGE3.SA          0.05
7             JBS S.A.  JBSS3.SA          0.05
8               Suzano  SUZB3.SA          0.05
9              B3 S.A.  B3SA3.SA          0.05
10  Equatorial Energia  EQTL3.SA          0.04
11        Engie Brasil  EGIE3.SA          0.04
12        CPFL Energia  CPFE3.SA          0.04
13            Localiza  RENT3.SA          0.03
14      Magazine Luiza  MGLU3.SA          0.03
15        Lojas Renner  LREN3.SA          0.03
16       Raia Drogasil  RADL3.SA          0.03
17               Totvs  TOTS3.SA          0.02
18              Sabesp  SBSP3.SA          0.02
19              Natura  NTCO3.SA          0.02

In [ ]:
#gemini- dataframe gerado pela ia



carteira_gemini = {
    'nome_empresa': [
        'Itaú Unibanco', 'Banco Bradesco', 'BTG Pactual S.A.', 'Vale S.A.',
        'Petróleo Brasileiro S.A. - Petrobras', 'Ambev S.A.', 'Magazine Luiza S.A.',
        'WEG S.A.', 'Localiza Rent a Car S.A.', 'Suzano S.A.',
        'Engie Brasil Energia S.A.', 'CCR S.A.', 'Telefônica Brasil S.A.',
        'Natura &Co Holding S.A.', 'B3 S.A. - Brasil, Bolsa, Balcão',
        'TIM S.A.', 'Raia Drogasil S.A.', 'Ultrapar Participações S.A.',
        'Gerdau S.A.', 'Cyrela Commercial Properties S.A.'
    ],
    'ticker': [
        'ITUB4.SA', 'BBDC4.SA', 'BPAC11.SA', 'VALE3.SA',
        'PETR4.SA', 'ABEV3.SA', 'MGLU3.SA',
        'WEGE3.SA', 'RENT3.SA', 'SUZB3.SA',
        'EGIE3.SA', 'CCRO3.SA', 'VIVT3.SA',
        'NTCO3.SA', 'B3SA3.SA',
        'TIMS3.SA', 'RADL3.SA', 'UGPA3.SA',
        'GGBR4.SA', 'CYRE3.SA'
    ],
    'participacao': [
        0.1, 0.1, 0.04, 0.06,
        0.11, 0.05, 0.03,
        0.05, 0.04, 0.04,
        0.05, 0.04, 0.04,
        0.03, 0.05,
        0.03, 0.04, 0.04,
        0.04, 0.02
    ]
}

gemini = pd.DataFrame(carteira_gemini)
gemini

                            nome_empresa     ticker  participacao
0                          Itaú Unibanco   ITUB4.SA          0.10
1                         Banco Bradesco   BBDC4.SA          0.10
2                       BTG Pactual S.A.  BPAC11.SA          0.04
3                              Vale S.A.   VALE3.SA          0.06
4   Petróleo Brasileiro S.A. - Petrobras   PETR4.SA          0.11
5                             Ambev S.A.   ABEV3.SA          0.05
6                    Magazine Luiza S.A.   MGLU3.SA          0.03
7                               WEG S.A.   WEGE3.SA          0.05
8               Localiza Rent a Car S.A.   RENT3.SA          0.04
9                            Suzano S.A.   SUZB3.SA          0.04
10             Engie Brasil Energia S.A.   EGIE3.SA          0.05
11                              CCR S.A.   CCRO3.SA          0.04
12                Telefônica Brasil S.A.   VIVT3.SA          0.04
13               Natura &Co Holding S.A.   NTCO3.SA          0.03
14       B3 S.A. - Brasil, Bolsa, Balcão   B3SA3.SA          0.05
15                              TIM S.A.   TIMS3.SA          0.03
16                    Raia Drogasil S.A.   RADL3.SA          0.04
17           Ultrapar Participações S.A.   UGPA3.SA          0.04
18                           Gerdau S.A.   GGBR4.SA          0.04
19     Cyrela Commercial Properties S.A.   CYRE3.SA          0.02

### Importação de dados DI

Os dados da série histórica da taxa di foram obtidos junto a B3, disponível no link: http://estatisticas.cetip.com.br/astec/series_v05/paginas/lum_web_v05_template_informacoes_di.asp?str_Modulo=completo&int_Idioma=1&int_Titulo=6&int_NivelBD=2

In [5]:
#tabela com os valores diários da taxa di
di = pd.read_csv('di_esse.csv', sep=';' ,encoding='latin-1')
di

            Data Fator Diário Taxa SELIC
0     02/01/2020   1,00017089        4,4
1     03/01/2020   1,00017089        4,4
2     06/01/2020   1,00017089        4,4
3     07/01/2020   1,00017089        4,4
4     08/01/2020   1,00017089        4,4
...          ...          ...        ...
1250  24/12/2024   1,00045513      12,15
1251  26/12/2024   1,00045513      12,15
1252  27/12/2024   1,00045513      12,15
1253  30/12/2024   1,00045513      12,15
1254  31/12/2024   1,00045513      12,15

[1255 rows x 3 columns]

In [ ]:
#verificando a qualidade dos dados
di.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          1255 non-null   object
 1   Fator Diário  1255 non-null   object
 2   Taxa SELIC    1255 non-null   object
dtypes: object(3)
memory usage: 29.5+ KB

In [ ]:
#modificando o separador decimal de virgula para ponto e mudando o tipo para float
di['Fator Diário'] = di['Fator Diário'].str.replace(',','.').astype(float)

In [ ]:
#modificando o separador decimal de virgula para ponto e mudando o tipo para float
di['Taxa SELIC'] = di['Taxa SELIC'].str.replace(',','.').astype(float)

In [9]:
di

            Data  Fator Diário  Taxa SELIC
0     02/01/2020      1.000171        4.40
1     03/01/2020      1.000171        4.40
2     06/01/2020      1.000171        4.40
3     07/01/2020      1.000171        4.40
4     08/01/2020      1.000171        4.40
...          ...           ...         ...
1250  24/12/2024      1.000455       12.15
1251  26/12/2024      1.000455       12.15
1252  27/12/2024      1.000455       12.15
1253  30/12/2024      1.000455       12.15
1254  31/12/2024      1.000455       12.15

[1255 rows x 3 columns]

In [ ]:
#mudando o formato da data
di['Data'] =  pd.to_datetime(di['Data'],format='%d/%m/%Y')

In [ ]:
#atribuindo a data como index
di.index = di['Data']

In [12]:
di.drop(columns='Data', inplace = True)

#### Calculando rendimento total taxa DI

In [178]:
#calculando do rendimento total da taxa di atraves do produto dos fatores diarios
rendimento_total_di = 1 + ((di['Fator Diário']).prod() - 1) 
rendimento_total_di

np.float64(1.511515347760124)

In [ ]:
#rendimento em reais
rendimento_di_real = 10000 * rendimento_total_di
rendimento_di_real

np.float64(15115.15347760124)

In [ ]:
#valor inicial investido
valor_inicial = 10000

In [179]:
#calculo do total acumulado
di['valor_acumulado'] = valor_inicial * di['Fator Diário'].cumprod()
di

            Fator Diário  Taxa SELIC  valor_acumulado
Data
2020-01-02      1.000171        4.40     10001.708900
2020-01-03      1.000171        4.40     10003.418092
2020-01-06      1.000171        4.40     10005.127576
2020-01-07      1.000171        4.40     10006.837352
2020-01-08      1.000171        4.40     10008.547421
...                  ...         ...              ...
2024-12-24      1.000455       12.15     15087.667320
2024-12-26      1.000455       12.15     15094.534170
2024-12-27      1.000455       12.15     15101.404145
2024-12-30      1.000455       12.15     15108.277247
2024-12-31      1.000455       12.15     15115.153478

[1255 rows x 3 columns]

In [17]:
di

            Fator Diário  Taxa SELIC  valor_acumulado
Data
2020-01-02      1.000171        4.40     10001.708900
2020-01-03      1.000171        4.40     10003.418092
2020-01-06      1.000171        4.40     10005.127576
2020-01-07      1.000171        4.40     10006.837352
2020-01-08      1.000171        4.40     10008.547421
...                  ...         ...              ...
2024-12-24      1.000455       12.15     15087.667320
2024-12-26      1.000455       12.15     15094.534170
2024-12-27      1.000455       12.15     15101.404145
2024-12-30      1.000455       12.15     15108.277247
2024-12-31      1.000455       12.15     15115.153478

[1255 rows x 3 columns]

#### Normalização taxa DI

In [ ]:
#datframe somente com datas e valores acumulados
di_norm= pd.DataFrame(di['valor_acumulado'])
di_norm

            valor_acumulado
Data
2020-01-02     10001.708900
2020-01-03     10003.418092
2020-01-06     10005.127576
2020-01-07     10006.837352
2020-01-08     10008.547421
...                     ...
2024-12-24     15087.667320
2024-12-26     15094.534170
2024-12-27     15101.404145
2024-12-30     15108.277247
2024-12-31     15115.153478

[1255 rows x 1 columns]

In [ ]:
#realizando normalizacao para comparacoes na mesma base
di_norm = di_norm/di_norm.iloc[0]
di_norm

            valor_acumulado
Data
2020-01-02         1.000000
2020-01-03         1.000171
2020-01-06         1.000342
2020-01-07         1.000513
2020-01-08         1.000684
...                     ...
2024-12-24         1.508509
2024-12-26         1.509196
2024-12-27         1.509882
2024-12-30         1.510570
2024-12-31         1.511257

[1255 rows x 1 columns]

In [20]:
di_norm = di_norm.reset_index()

In [21]:
di_norm

           Data  valor_acumulado
0    2020-01-02         1.000000
1    2020-01-03         1.000171
2    2020-01-06         1.000342
3    2020-01-07         1.000513
4    2020-01-08         1.000684
...         ...              ...
1250 2024-12-24         1.508509
1251 2024-12-26         1.509196
1252 2024-12-27         1.509882
1253 2024-12-30         1.510570
1254 2024-12-31         1.511257

[1255 rows x 2 columns]

In [ ]:
#di normalizado
di_normalizado = di_norm.copy()
di_normalizado

           Data  valor_acumulado
0    2020-01-02         1.000000
1    2020-01-03         1.000171
2    2020-01-06         1.000342
3    2020-01-07         1.000513
4    2020-01-08         1.000684
...         ...              ...
1250 2024-12-24         1.508509
1251 2024-12-26         1.509196
1252 2024-12-27         1.509882
1253 2024-12-30         1.510570
1254 2024-12-31         1.511257

[1255 rows x 2 columns]

### importação IBOVESPA

In [ ]:
#df com os papeis que compoe o ibovespa
ibov = ad.index_composition('ibov')
ibov

   segment    cod        asset        type   part partAcum   theoricalQty
0     None  ALOS3        ALLOS  ON  EJ  NM  0,487     None    476.976.044
1     None  ABEV3    AMBEV S/A          ON  2,826     None  4.394.835.131
2     None  ASAI3        ASSAI  ON      NM  0,707     None  1.345.897.506
3     None  AURE3        AUREN  ON      NM  0,148     None    323.738.747
4     None  AZZA3   AZZAS 2154  ON      NM  0,286     None    136.643.320
..     ...    ...          ...         ...    ...      ...            ...
80    None  VAMO3        VAMOS  ON      NM  0,109     None    485.166.826
81    None  VBBR3        VIBRA  ON      NM  1,037     None  1.113.939.036
82    None  VIVA3  VIVARA S.A.  ON      NM  0,149     None    123.160.591
83    None  WEGE3          WEG  ON      NM  2,867     None  1.482.105.837
84    None  YDUQ3   YDUQS PART  ON      NM  0,193     None    260.249.057

[85 rows x 7 columns]

In [ ]:
#excluindo motv3 pois o yfinance nao encontra dados para este ativo
indice = ibov[ibov['cod'] == 'MOTV3'].index
ibov = ibov.drop(indice)
indice

Index([51], dtype='int64')

In [ ]:
#transformando participacao  em float e mudando o separador decimal
ibov['part'] =ibov['part'].str.replace(',', '.').astype(float)
ibov

   segment    cod        asset        type   part partAcum   theoricalQty
0     None  ALOS3        ALLOS  ON  EJ  NM  0.487     None    476.976.044
1     None  ABEV3    AMBEV S/A          ON  2.826     None  4.394.835.131
2     None  ASAI3        ASSAI  ON      NM  0.707     None  1.345.897.506
3     None  AURE3        AUREN  ON      NM  0.148     None    323.738.747
4     None  AZZA3   AZZAS 2154  ON      NM  0.286     None    136.643.320
..     ...    ...          ...         ...    ...      ...            ...
80    None  VAMO3        VAMOS  ON      NM  0.109     None    485.166.826
81    None  VBBR3        VIBRA  ON      NM  1.037     None  1.113.939.036
82    None  VIVA3  VIVARA S.A.  ON      NM  0.149     None    123.160.591
83    None  WEGE3          WEG  ON      NM  2.867     None  1.482.105.837
84    None  YDUQ3   YDUQS PART  ON      NM  0.193     None    260.249.057

[84 rows x 7 columns]

In [ ]:
#participacao em decimal, pois estava em percentual
ibov['participacao'] = ibov['part']/100 +0.0000729#redistribuindo a participacao de MOTV3

ibov

,segment,cod,asset,type,part,partAcum,theoricalQty,participacao
0,None,ALOS3,ALLOS,ON EJ NM,0.487,None,476.976.044,0.004943
1,None,ABEV3,AMBEV S/A,ON,2.826,None,4.394.835.131,0.028333
2,None,ASAI3,ASSAI,ON NM,0.707,None,1.345.897.506,0.007143
3,None,AURE3,AUREN,ON NM,0.148,None,323.738.747,0.001553
4,None,AZZA3,AZZAS 2154,ON NM,0.286,None,136.643.320,0.002933
...,...,...,...,...,...,...,...,...
80,None,VAMO3,VAMOS,ON NM,0.109,None,485.166.826,0.001163
81,None,VBBR3,VIBRA,ON NM,1.037,None,1.113.939.036,0.010443
82,None,VIVA3,VIVARA S.A.,ON NM,0.149,None,123.160.591,0.001563
83,None,WEGE3,WEG,ON NM,2.867,None,1.482.105.837,0.028743
84,None,YDUQ3,YDUQS PART,ON NM,0.193,None,260.249.057,0.002003

In [27]:
#lista de papeis com os seus setores que fazem parte da B3
setores = ad.get_sectors('B3')
setores

,SECTORS,SUBSECTORS,SEGMENTS,NAME,SEGMENT B3,TICKER
0,Health,"Medical and Hospitalar Services, Analysis and ...","Medical and Hospitalar Services, Analysis and ...",ALLIAR,NM,AALR3
1,Financial,Financial Intermediaries,Banks,ABC BRASIL,N2,ABCB4
2,Consumer non Cyclical,Beverage,Beer and Soft Drinks,AMBEV S/A,NaN,ABEV3
3,Financial,Holdings - Diversified,Holdings - Diversified,CIABRASF,NM,ADMF3
4,Capital Goods and Services,Machines and Equipments,Machines and Industrial Equipments,AERIS,NM,AERI3
...,...,...,...,...,...,...
412,Financial,"Insurance, Life and Multi-line",Insurance and Reinsurance Brokers,WIZ CO,NM,WIZC3
413,Capital Goods and Services,Retail,Transportation Material,WLM IND COM,NaN,WLMM3
414,Capital Goods and Services,Retail,Transportation Material,WLM IND COM,NaN,WLMM4
415,Consumer Cyclical,Diversified,Educational Services,YDUQS PART,NM,YDUQ3
416,Consumer Cyclical,Hotels and Restaurants,Restaurants and Similars,ZAMP S.A.,NaN,ZAMP3

In [28]:
setores.drop(columns=['SECTORS', 'SUBSECTORS', 'SEGMENT B3'], inplace=True)

In [29]:
#criando filtro para filtrar o df de setores
lista_ibovespa = ibov['cod'].tolist()

In [ ]:
#df com a integracao de setores, com somente os papeis que integram o ibovespa
ibovespa = pd.merge(ibov, setores, how = 'inner', left_on = 'cod', right_on = 'TICKER')
ibovespa

,segment,cod,asset,type,part,partAcum,theoricalQty,participacao,SEGMENTS,NAME,TICKER
0,None,ALOS3,ALLOS,ON EJ NM,0.487,None,476.976.044,0.004943,Real Estate,ALLOS,ALOS3
1,None,ABEV3,AMBEV S/A,ON,2.826,None,4.394.835.131,0.028333,Beer and Soft Drinks,AMBEV S/A,ABEV3
2,None,ASAI3,ASSAI,ON NM,0.707,None,1.345.897.506,0.007143,Food Retailers,ASSAI,ASAI3
3,None,AURE3,AUREN,ON NM,0.148,None,323.738.747,0.001553,Electric Utilities,AUREN,AURE3
4,None,AZZA3,AZZAS 2154,ON NM,0.286,None,136.643.320,0.002933,"Apparel, Fabric and Footwear",AZZAS 2154,AZZA3
...,...,...,...,...,...,...,...,...,...,...,...
79,None,VAMO3,VAMOS,ON NM,0.109,None,485.166.826,0.001163,Car Rental,VAMOS,VAMO3
80,None,VBBR3,VIBRA,ON NM,1.037,None,1.113.939.036,0.010443,"Exploration, Refining and Distribution",VIBRA,VBBR3
81,None,VIVA3,VIVARA S.A.,ON NM,0.149,None,123.160.591,0.001563,Accessories,VIVARA S.A.,VIVA3
82,None,WEGE3,WEG,ON NM,2.867,None,1.482.105.837,0.028743,"Motors, Compressors and Others",WEG,WEGE3
83,None,YDUQ3,YDUQS PART,ON NM,0.193,None,260.249.057,0.002003,Educational Services,YDUQS PART,YDUQ3

In [ ]:
#excluindo colunas que nao sao do interesse
ibovespa.drop(columns = ['segment', 'type', 'part', 'partAcum', 'theoricalQty', 'NAME', 'TICKER'], inplace=True)
ibovespa

      cod        asset  participacao                                SEGMENTS
0   ALOS3        ALLOS      0.004943                             Real Estate
1   ABEV3    AMBEV S/A      0.028333                    Beer and Soft Drinks
2   ASAI3        ASSAI      0.007143                          Food Retailers
3   AURE3        AUREN      0.001553                      Electric Utilities
4   AZZA3   AZZAS 2154      0.002933            Apparel, Fabric and Footwear
..    ...          ...           ...                                     ...
79  VAMO3        VAMOS      0.001163                              Car Rental
80  VBBR3        VIBRA      0.010443  Exploration, Refining and Distribution
81  VIVA3  VIVARA S.A.      0.001563                             Accessories
82  WEGE3          WEG      0.028743          Motors, Compressors and Others
83  YDUQ3   YDUQS PART      0.002003                    Educational Services

[84 rows x 4 columns]

In [ ]:
#lista com ativos do ibovespa para filtar o yfinances
lista_ibovespa

['ALOS3',
 'ABEV3',
 'ASAI3',
 'AURE3',
 'AZZA3',
 'B3SA3',
 'BBSE3',
 'BBDC3',
 'BBDC4',
 'BRAP4',
 'BBAS3',
 'BRKM5',
 'BRAV3',
 'BRFS3',
 'BPAC11',
 'CXSE3',
 'CMIG4',
 'COGN3',
 'CPLE6',
 'CSAN3',
 'CPFE3',
 'CMIN3',
 'CVCB3',
 'CYRE3',
 'DIRR3',
 'ELET3',
 'ELET6',
 'EMBR3',
 'ENGI11',
 'ENEV3',
 'EGIE3',
 'EQTL3',
 'FLRY3',
 'GGBR4',
 'GOAU4',
 'NTCO3',
 'HAPV3',
 'HYPE3',
 'IGTI11',
 'IRBR3',
 'ISAE4',
 'ITSA4',
 'ITUB4',
 'JBSS3',
 'KLBN11',
 'RENT3',
 'LREN3',
 'MGLU3',
 'POMO4',
 'MRFG3',
 'BEEF3',
 'MRVE3',
 'MULT3',
 'PCAR3',
 'PETR3',
 'PETR4',
 'RECV3',
 'PRIO3',
 'PETZ3',
 'PSSA3',
 'RADL3',
 'RAIZ4',
 'RDOR3',
 'RAIL3',
 'SBSP3',
 'SANB11',
 'STBP3',
 'SMTO3',
 'CSNA3',
 'SLCE3',
 'SMFT3',
 'SUZB3',
 'TAEE11',
 'VIVT3',
 'TIMS3',
 'TOTS3',
 'UGPA3',
 'USIM5',
 'VALE3',
 'VAMO3',
 'VBBR3',
 'VIVA3',
 'WEGE3',
 'YDUQ3']

In [33]:
#coluna com sa para poder relacionar com as cotaçoes no yfinances
ibovespa['TICKER'] = [i + '.SA' for i in lista_ibovespa ]
ibovespa

,cod,asset,participacao,SEGMENTS,TICKER
0,ALOS3,ALLOS,0.004943,Real Estate,ALOS3.SA
1,ABEV3,AMBEV S/A,0.028333,Beer and Soft Drinks,ABEV3.SA
2,ASAI3,ASSAI,0.007143,Food Retailers,ASAI3.SA
3,AURE3,AUREN,0.001553,Electric Utilities,AURE3.SA
4,AZZA3,AZZAS 2154,0.002933,"Apparel, Fabric and Footwear",AZZA3.SA
...,...,...,...,...,...
79,VAMO3,VAMOS,0.001163,Car Rental,VAMO3.SA
80,VBBR3,VIBRA,0.010443,"Exploration, Refining and Distribution",VBBR3.SA
81,VIVA3,VIVARA S.A.,0.001563,Accessories,VIVA3.SA
82,WEGE3,WEG,0.028743,"Motors, Compressors and Others",WEGE3.SA
83,YDUQ3,YDUQS PART,0.002003,Educational Services,YDUQ3.SA

In [34]:
lista_ibovespa = ibovespa['TICKER'].to_list()

In [35]:
ibovespa_setor = ibovespa.copy()

## Manipulação de dados

Integração das carteiras com os setores

In [36]:
deepseek

              nome_empresa    ticker  participacao
0                  Vale SA  VALE3.SA         0.095
1   Petróleo Brasileiro SA  PETR4.SA         0.125
2            Itaú Unibanco  ITUB4.SA         0.090
3           Banco Bradesco  BBDC4.SA         0.080
4          Banco do Brasil  BBAS3.SA         0.050
5                   Weg SA  WEGE3.SA         0.050
6                 Ambev SA  ABEV3.SA         0.045
7      Localiza Rent a Car  RENT3.SA         0.045
8                Suzano SA  SUZB3.SA         0.045
9       Equatorial Energia  EQTL3.SA         0.040
10                 Rumo SA  RAIL3.SA         0.040
11       Telefônica Brasil  VIVT3.SA         0.040
12                  JBS SA  JBSS3.SA         0.035
13               Gerdau SA  GGBR4.SA         0.035
14            Engie Brasil  EGIE3.SA         0.035
15            Lojas Renner  LREN3.SA         0.030
16           Raia Drogasil  RADL3.SA         0.030
17               Marcopolo  POMO4.SA         0.030
18               Multiplan  MULT3.SA         0.030
19                  CCR SA  CCRO3.SA         0.030

In [ ]:
#coluna cod para fazer integracao com a planilha de setores, excluindo o sa
deepseek['cod'] = deepseek['ticker'].str[:5]
#criação do df setor, com a integracao das carteiras com o df de setores
deepseek_setor = pd.merge(deepseek, setores, how = 'inner', left_on = 'cod', right_on = 'TICKER')
#renomeando coluna para diferencia-la
deepseek_setor.rename(columns={'ticker':'ticker_sa'}, inplace = True)
#eliminando colunas
deepseek_setor.drop(columns=['cod', 'NAME'], inplace=True)
deepseek_setor

,nome_empresa,ticker_sa,participacao,SEGMENTS,TICKER
0,Vale SA,VALE3.SA,0.095,Metalic Minerals,VALE3
1,Petróleo Brasileiro SA,PETR4.SA,0.125,"Exploration, Refining and Distribution",PETR4
2,Itaú Unibanco,ITUB4.SA,0.090,Banks,ITUB4
3,Banco Bradesco,BBDC4.SA,0.080,Banks,BBDC4
4,Banco do Brasil,BBAS3.SA,0.050,Banks,BBAS3
5,Weg SA,WEGE3.SA,0.050,"Motors, Compressors and Others",WEGE3
6,Ambev SA,ABEV3.SA,0.045,Beer and Soft Drinks,ABEV3
7,Localiza Rent a Car,RENT3.SA,0.045,Car Rental,RENT3
8,Suzano SA,SUZB3.SA,0.045,Pulp and Paper,SUZB3
9,Equatorial Energia,EQTL3.SA,0.040,Electric Utilities,EQTL3
10,Rumo SA,RAIL3.SA,0.040,Railroads,RAIL3
11,Telefônica Brasil,VIVT3.SA,0.040,Telecommunications,VIVT3
12,JBS SA,JBSS3.SA,0.035,"Meat, Poultry and Others",JBSS3
13,Gerdau SA,GGBR4.SA,0.035,Steel,GGBR4
14,Engie Brasil,EGIE3.SA,0.035,Electric Utilities,EGIE3
15,Lojas Renner,LREN3.SA,0.030,"Apparel, Fabric and Footwear",LREN3
16,Raia Drogasil,RADL3.SA,0.030,Pharmaceutical and Others Products,RADL3
17,Marcopolo,POMO4.SA,0.030,Transportation Equipment - Diversified,POMO4
18,Multiplan,MULT3.SA,0.030,Real Estate,MULT3

In [ ]:
#mesma logica do que foi aplicado ao deepseek
chatgpt['cod'] = chatgpt['ticker'].str[:5]
chatgpt_setor = pd.merge(chatgpt, setores, how = 'inner', left_on = 'cod', right_on = 'TICKER')
chatgpt_setor.rename(columns={'ticker':'ticker_sa'}, inplace = True)
chatgpt_setor.drop(columns=['cod', 'NAME'], inplace=True)
chatgpt_setor

,nome da empresa,ticker_sa,participação,SEGMENTS,TICKER
0,Vale S.A.,VALE3.SA,0.14,Metalic Minerals,VALE3
1,Petrobras,PETR4.SA,0.12,"Exploration, Refining and Distribution",PETR4
2,Itaú Unibanco,ITUB4.SA,0.07,Banks,ITUB4
3,Banco do Brasil,BBAS3.SA,0.06,Banks,BBAS3
4,Bradesco,BBDC4.SA,0.06,Banks,BBDC4
5,Ambev,ABEV3.SA,0.05,Beer and Soft Drinks,ABEV3
6,WEG S.A.,WEGE3.SA,0.05,"Motors, Compressors and Others",WEGE3
7,JBS S.A.,JBSS3.SA,0.05,"Meat, Poultry and Others",JBSS3
8,Suzano,SUZB3.SA,0.05,Pulp and Paper,SUZB3
9,B3 S.A.,B3SA3.SA,0.05,Diversified Financial Services,B3SA3
10,Equatorial Energia,EQTL3.SA,0.04,Electric Utilities,EQTL3
11,Engie Brasil,EGIE3.SA,0.04,Electric Utilities,EGIE3
12,CPFL Energia,CPFE3.SA,0.04,Electric Utilities,CPFE3
13,Localiza,RENT3.SA,0.03,Car Rental,RENT3
14,Magazine Luiza,MGLU3.SA,0.03,Electronics and Household Appliance,MGLU3
15,Lojas Renner,LREN3.SA,0.03,"Apparel, Fabric and Footwear",LREN3
16,Raia Drogasil,RADL3.SA,0.03,Pharmaceutical and Others Products,RADL3
17,Totvs,TOTS3.SA,0.02,Software and Services,TOTS3
18,Sabesp,SBSP3.SA,0.02,Water Utilities,SBSP3
19,Natura,NTCO3.SA,0.02,Personal Care Products,NTCO3

In [ ]:
#mesma logica do que foi aplicado ao deepseek
gemini['cod'] = gemini['ticker'].str[:5]
gemini_setor = pd.merge(gemini, setores, how = 'inner', left_on = 'cod', right_on = 'TICKER')
gemini_setor.rename(columns={'ticker':'ticker_sa'}, inplace = True)
gemini_setor.drop(columns=['cod', 'NAME'], inplace=True)
gemini_setor

,nome_empresa,ticker_sa,participacao,SEGMENTS,TICKER
0,Itaú Unibanco,ITUB4.SA,0.10,Banks,ITUB4
1,Banco Bradesco,BBDC4.SA,0.10,Banks,BBDC4
2,Vale S.A.,VALE3.SA,0.06,Metalic Minerals,VALE3
3,Petróleo Brasileiro S.A. - Petrobras,PETR4.SA,0.11,"Exploration, Refining and Distribution",PETR4
4,Ambev S.A.,ABEV3.SA,0.05,Beer and Soft Drinks,ABEV3
5,Magazine Luiza S.A.,MGLU3.SA,0.03,Electronics and Household Appliance,MGLU3
6,WEG S.A.,WEGE3.SA,0.05,"Motors, Compressors and Others",WEGE3
7,Localiza Rent a Car S.A.,RENT3.SA,0.04,Car Rental,RENT3
8,Suzano S.A.,SUZB3.SA,0.04,Pulp and Paper,SUZB3
9,Engie Brasil Energia S.A.,EGIE3.SA,0.05,Electric Utilities,EGIE3
10,Telefônica Brasil S.A.,VIVT3.SA,0.04,Telecommunications,VIVT3
11,Natura &Co Holding S.A.,NTCO3.SA,0.03,Personal Care Products,NTCO3
12,"B3 S.A. - Brasil, Bolsa, Balcão",B3SA3.SA,0.05,Diversified Financial Services,B3SA3
13,TIM S.A.,TIMS3.SA,0.03,Telecommunications,TIMS3
14,Raia Drogasil S.A.,RADL3.SA,0.04,Pharmaceutical and Others Products,RADL3
15,Ultrapar Participações S.A.,UGPA3.SA,0.04,"Exploration, Refining and Distribution",UGPA3
16,Gerdau S.A.,GGBR4.SA,0.04,Steel,GGBR4
17,Cyrela Commercial Properties S.A.,CYRE3.SA,0.02,Real Estate Development,CYRE3

# Importação das cotaçoes para o periodo de análise

In [ ]:
#listas para poder baixar as cotacoes no yfinances, a partir dos tickers das carteiras
lista_ibovespa = ibovespa['TICKER'].to_list()
lista_deepseek = deepseek['ticker'].to_list()
lista_chatgpt = chatgpt['ticker'].to_list()
lista_gemini = gemini['ticker'].to_list()

In [ ]:
#cotacoes do ibovespa para o periodo escolhido
cotacoes_ibovespa = yf.download(lista_ibovespa, start = '2020-01-01', end = '2024-12-31').Close
cotacoes_ibovespa

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  84 of 84 completed

Ticker,ABEV3.SA,ALOS3.SA,ASAI3.SA,AURE3.SA,AZZA3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VAMO3.SA,VBBR3.SA,VIVA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,15.051881,44.290401,NaN,NaN,57.763351,12.283061,19.009806,19.830742,21.166609,23.742929,...,21.556515,9.997924,7.763107,32.831028,NaN,21.874403,26.753843,14.794761,16.282768,41.797310
2020-01-03,14.840216,45.539143,NaN,NaN,56.940865,11.929082,18.978004,19.521278,21.177324,23.481199,...,22.014772,9.880760,7.683076,32.589310,NaN,21.746313,26.588804,14.966506,16.074848,40.921127
2020-01-06,14.910769,45.229172,NaN,NaN,56.588375,11.814717,18.727127,19.409313,20.799067,23.867561,...,21.512877,9.665962,7.539017,32.395943,NaN,20.657574,26.121208,14.822364,16.116438,41.707901
2020-01-07,14.942129,44.697803,NaN,NaN,56.850487,12.195928,18.585794,19.079020,20.437731,23.880032,...,21.603279,9.880760,7.611048,32.631615,NaN,20.629112,25.580267,15.150519,16.241182,40.930061
2020-01-08,14.871572,46.052811,NaN,NaN,56.037045,12.163255,18.416185,18.787907,20.121553,23.867561,...,21.313364,9.802650,7.515008,32.637653,NaN,20.529488,25.626110,15.303866,15.626653,40.688667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-20,12.007971,18.455399,5.667064,8.930242,31.000000,10.206277,23.986444,10.224163,11.153627,34.403671,...,27.395306,15.996893,5.430000,52.568302,5.00,17.670362,20.589705,23.356541,55.020622,8.350342
2024-12-23,11.998153,18.150051,5.686707,8.711704,29.340000,10.196339,23.827066,10.062931,10.954456,34.366001,...,27.534721,15.792803,5.240000,52.789661,5.02,17.434883,19.303450,22.599155,53.810059,8.081285
2024-12-26,11.919606,17.962833,5.804566,8.622302,28.830000,10.265903,24.105978,10.176744,11.039815,34.347164,...,27.196140,15.442931,5.290000,52.943653,5.02,17.322136,18.597462,22.777916,54.226730,7.917930
2024-12-27,11.850875,17.903715,5.627777,8.642169,29.139999,10.295717,24.016329,10.100867,10.954456,34.168221,...,26.917309,15.404057,5.290000,52.683800,4.66,17.102386,18.636148,22.185186,53.254498,7.994803
2024-12-30,11.526866,17.844593,5.529562,8.711704,29.580000,10.255966,24.076094,10.091384,10.963942,34.074043,...,26.638475,15.433212,5.320000,52.500935,4.75,17.045059,18.616806,22.001720,52.351711,8.215814

In [ ]:
#análise dos dados, será necessário tratar os dados nulos
cotacoes_ibovespa.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 84 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ABEV3.SA   1244 non-null   float64
 1   ALOS3.SA   1242 non-null   float64
 2   ASAI3.SA   959 non-null    float64
 3   AURE3.SA   691 non-null    float64
 4   AZZA3.SA   1244 non-null   float64
 5   B3SA3.SA   1244 non-null   float64
 6   BBAS3.SA   1244 non-null   float64
 7   BBDC3.SA   1244 non-null   float64
 8   BBDC4.SA   1244 non-null   float64
 9   BBSE3.SA   1244 non-null   float64
 10  BEEF3.SA   1244 non-null   float64
 11  BPAC11.SA  1244 non-null   float64
 12  BRAP4.SA   1244 non-null   float64
 13  BRAV3.SA   1028 non-null   float64
 14  BRFS3.SA   1244 non-null   float64
 15  BRKM5.SA   1244 non-null   float64
 16  CMIG4.SA   1244 non-null   float64
 17  CMIN3.SA   964 non-null    float64
 18  COGN3.SA   1244 non-null   float64
 19  CPFE3.SA   1244 non-null   float64
 20  CPLE6.SA   1244 non-null   float64
 21  CSAN3.SA   1244 non-null   float64
 22  CSNA3.SA   1244 non-null   float64
 23  CVCB3.SA   1244 non-null   float64
 24  CXSE3.SA   917 non-null    float64
 25  CYRE3.SA   1244 non-null   float64
 26  DIRR3.SA   1244 non-null   float64
 27  EGIE3.SA   1244 non-null   float64
 28  ELET3.SA   1244 non-null   float64
 29  ELET6.SA   1244 non-null   float64
 30  EMBR3.SA   1244 non-null   float64
 31  ENEV3.SA   1244 non-null   float64
 32  ENGI11.SA  1244 non-null   float64
 33  EQTL3.SA   1244 non-null   float64
 34  FLRY3.SA   1244 non-null   float64
 35  GGBR4.SA   1244 non-null   float64
 36  GOAU4.SA   1244 non-null   float64
 37  HAPV3.SA   1244 non-null   float64
 38  HYPE3.SA   1244 non-null   float64
 39  IGTI11.SA  777 non-null    float64
 40  IRBR3.SA   1244 non-null   float64
 41  ISAE4.SA   1242 non-null   float64
 42  ITSA4.SA   1244 non-null   float64
 43  ITUB4.SA   1244 non-null   float64
 44  JBSS3.SA   1244 non-null   float64
 45  KLBN11.SA  1244 non-null   float64
 46  LREN3.SA   1244 non-null   float64
 47  MGLU3.SA   1244 non-null   float64
 48  MRFG3.SA   1244 non-null   float64
 49  MRVE3.SA   1244 non-null   float64
 50  MULT3.SA   1244 non-null   float64
 51  NTCO3.SA   1244 non-null   float64
 52  PCAR3.SA   1244 non-null   float64
 53  PETR3.SA   1244 non-null   float64
 54  PETR4.SA   1244 non-null   float64
 55  PETZ3.SA   1068 non-null   float64
 56  POMO4.SA   1244 non-null   float64
 57  PRIO3.SA   1244 non-null   float64
 58  PSSA3.SA   1244 non-null   float64
 59  RADL3.SA   1244 non-null   float64
 60  RAIL3.SA   1244 non-null   float64
 61  RAIZ4.SA   850 non-null    float64
 62  RDOR3.SA   1006 non-null   float64
 63  RECV3.SA   914 non-null    float64
 64  RENT3.SA   1244 non-null   float64
 65  SANB11.SA  1244 non-null   float64
 66  SBSP3.SA   1244 non-null   float64
 67  SLCE3.SA   1244 non-null   float64
 68  SMFT3.SA   866 non-null    float64
 69  SMTO3.SA   1244 non-null   float64
 70  STBP3.SA   1244 non-null   float64
 71  SUZB3.SA   1244 non-null   float64
 72  TAEE11.SA  1244 non-null   float64
 73  TIMS3.SA   1244 non-null   float64
 74  TOTS3.SA   1244 non-null   float64
 75  UGPA3.SA   1244 non-null   float64
 76  USIM5.SA   1244 non-null   float64
 77  VALE3.SA   1244 non-null   float64
 78  VAMO3.SA   976 non-null    float64
 79  VBBR3.SA   1244 non-null   float64
 80  VIVA3.SA   1244 non-null   float64
 81  VIVT3.SA   1244 non-null   float64
 82  WEGE3.SA   1244 non-null   float64
 83  YDUQ3.SA   1244 non-null   float64
dtypes: float64(84)
memory usage: 826.1 KB

## Tratando nulos no cotaçoes ibov

Os valores nulos nas cotações receberão o valor abaixo, ou seja a cotaçao mais recente, para podermos comparar e nao prejudicar a analise

In [ ]:
#testando o preenchimento das colunas com valores nulos
teste = cotacoes_ibovespa.copy()

In [ ]:
#os valores nulos serao preenchidos pelo valor mais recente, de baixo para cima
for coluna in teste.columns:
    teste[coluna] = teste[coluna].bfill()

In [ ]:
# verificando se deu certo a substituicao
 teste.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 84 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ABEV3.SA   1244 non-null   float64
 1   ALOS3.SA   1244 non-null   float64
 2   ASAI3.SA   1244 non-null   float64
 3   AURE3.SA   1244 non-null   float64
 4   AZZA3.SA   1244 non-null   float64
 5   B3SA3.SA   1244 non-null   float64
 6   BBAS3.SA   1244 non-null   float64
 7   BBDC3.SA   1244 non-null   float64
 8   BBDC4.SA   1244 non-null   float64
 9   BBSE3.SA   1244 non-null   float64
 10  BEEF3.SA   1244 non-null   float64
 11  BPAC11.SA  1244 non-null   float64
 12  BRAP4.SA   1244 non-null   float64
 13  BRAV3.SA   1244 non-null   float64
 14  BRFS3.SA   1244 non-null   float64
 15  BRKM5.SA   1244 non-null   float64
 16  CMIG4.SA   1244 non-null   float64
 17  CMIN3.SA   1244 non-null   float64
 18  COGN3.SA   1244 non-null   float64
 19  CPFE3.SA   1244 non-null   float64
 20  CPLE6.SA   1244 non-null   float64
 21  CSAN3.SA   1244 non-null   float64
 22  CSNA3.SA   1244 non-null   float64
 23  CVCB3.SA   1244 non-null   float64
 24  CXSE3.SA   1244 non-null   float64
 25  CYRE3.SA   1244 non-null   float64
 26  DIRR3.SA   1244 non-null   float64
 27  EGIE3.SA   1244 non-null   float64
 28  ELET3.SA   1244 non-null   float64
 29  ELET6.SA   1244 non-null   float64
 30  EMBR3.SA   1244 non-null   float64
 31  ENEV3.SA   1244 non-null   float64
 32  ENGI11.SA  1244 non-null   float64
 33  EQTL3.SA   1244 non-null   float64
 34  FLRY3.SA   1244 non-null   float64
 35  GGBR4.SA   1244 non-null   float64
 36  GOAU4.SA   1244 non-null   float64
 37  HAPV3.SA   1244 non-null   float64
 38  HYPE3.SA   1244 non-null   float64
 39  IGTI11.SA  1244 non-null   float64
 40  IRBR3.SA   1244 non-null   float64
 41  ISAE4.SA   1244 non-null   float64
 42  ITSA4.SA   1244 non-null   float64
 43  ITUB4.SA   1244 non-null   float64
 44  JBSS3.SA   1244 non-null   float64
 45  KLBN11.SA  1244 non-null   float64
 46  LREN3.SA   1244 non-null   float64
 47  MGLU3.SA   1244 non-null   float64
 48  MRFG3.SA   1244 non-null   float64
 49  MRVE3.SA   1244 non-null   float64
 50  MULT3.SA   1244 non-null   float64
 51  NTCO3.SA   1244 non-null   float64
 52  PCAR3.SA   1244 non-null   float64
 53  PETR3.SA   1244 non-null   float64
 54  PETR4.SA   1244 non-null   float64
 55  PETZ3.SA   1244 non-null   float64
 56  POMO4.SA   1244 non-null   float64
 57  PRIO3.SA   1244 non-null   float64
 58  PSSA3.SA   1244 non-null   float64
 59  RADL3.SA   1244 non-null   float64
 60  RAIL3.SA   1244 non-null   float64
 61  RAIZ4.SA   1244 non-null   float64
 62  RDOR3.SA   1244 non-null   float64
 63  RECV3.SA   1244 non-null   float64
 64  RENT3.SA   1244 non-null   float64
 65  SANB11.SA  1244 non-null   float64
 66  SBSP3.SA   1244 non-null   float64
 67  SLCE3.SA   1244 non-null   float64
 68  SMFT3.SA   1244 non-null   float64
 69  SMTO3.SA   1244 non-null   float64
 70  STBP3.SA   1244 non-null   float64
 71  SUZB3.SA   1244 non-null   float64
 72  TAEE11.SA  1244 non-null   float64
 73  TIMS3.SA   1244 non-null   float64
 74  TOTS3.SA   1244 non-null   float64
 75  UGPA3.SA   1244 non-null   float64
 76  USIM5.SA   1244 non-null   float64
 77  VALE3.SA   1244 non-null   float64
 78  VAMO3.SA   1244 non-null   float64
 79  VBBR3.SA   1244 non-null   float64
 80  VIVA3.SA   1244 non-null   float64
 81  VIVT3.SA   1244 non-null   float64
 82  WEGE3.SA   1244 non-null   float64
 83  YDUQ3.SA   1244 non-null   float64
dtypes: float64(84)
memory usage: 826.1 KB

In [46]:
#verificando se ainda há nulos 
teste.isnull().sum().sum()

np.int64(0)

Logo não há mais valores nulos em cotacoes ibovespa

In [ ]:
#atribuindo o df sem valores nulos
cotacoes_ibovespa = teste.copy()

In [48]:
cotacoes_ibovespa.isnull().sum().sum()

np.int64(0)

In [ ]:
#baixando as cotacoes para a carteira
cotacoes_deepseek = yf.download(lista_deepseek, start = '2020-01-01', end = '2024-12-31').Close
cotacoes_deepseek

[*********************100%***********************]  20 of 20 completed

Ticker,ABEV3.SA,BBAS3.SA,BBDC4.SA,CCRO3.SA,EGIE3.SA,EQTL3.SA,GGBR4.SA,ITUB4.SA,JBSS3.SA,LREN3.SA,MULT3.SA,PETR4.SA,POMO4.SA,RADL3.SA,RAIL3.SA,RENT3.SA,SUZB3.SA,VALE3.SA,VIVT3.SA,WEGE3.SA
Date,,,,,,,,,,,,,,,,,,,,
2020-01-02,15.051881,19.009806,21.166607,16.876839,37.733086,22.415335,11.264825,28.415331,17.976547,42.073723,28.042656,9.304729,3.453853,20.955566,26.160540,43.953621,36.264065,32.831028,14.794761,16.282774
2020-01-03,14.840216,18.978004,21.177322,16.690304,37.950783,22.148825,11.080330,28.116455,18.154984,41.781040,28.042656,9.228958,3.430980,20.488394,25.397522,43.315834,36.139599,32.589310,14.966506,16.074852
2020-01-06,14.910769,18.727127,20.799051,16.263939,37.631504,22.177382,11.053203,27.698030,17.725403,41.744453,27.992506,9.338069,3.385233,20.085081,24.674143,42.810928,36.077362,32.395943,14.822364,16.116432
2020-01-07,14.942129,18.585794,20.437716,16.628124,37.711319,22.063164,11.226841,27.055454,18.042635,41.722507,28.067734,9.301700,3.430980,19.809521,25.040789,43.227253,36.539661,32.631615,15.150519,16.241188
2020-01-08,14.871572,18.416185,20.121559,16.512650,37.333996,22.215456,11.270249,26.614614,18.485435,41.993244,28.176394,9.244113,3.339488,20.074137,25.367798,43.014668,38.362202,32.637653,15.303866,15.626657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-20,12.007971,23.986444,11.153629,10.430000,36.028046,28.472282,18.980349,27.292318,35.016075,13.051380,21.517813,33.637844,7.253460,22.602268,18.650000,33.238556,59.619999,52.568302,23.356541,55.020622
2024-12-23,11.998153,23.827066,10.954454,10.160000,34.853859,27.308750,18.497213,26.763800,34.736023,12.273934,20.746334,33.646973,6.994750,22.473114,18.190001,32.449043,61.240002,52.789661,22.599155,53.810059
2024-12-26,11.919606,24.105978,11.039815,10.200000,34.814720,27.201199,18.447914,26.937086,34.717354,12.225344,20.416258,33.899914,6.985168,22.393633,17.959999,32.103626,61.939999,52.943653,22.777916,54.226730
2024-12-27,11.850875,24.016329,10.954454,10.230000,34.198269,27.025202,18.083097,26.668495,33.802505,12.038774,20.571587,33.795662,7.071404,21.857140,17.850000,32.074024,61.590000,52.683800,22.185186,53.254498
2024-12-30,11.526866,24.076094,10.963940,10.170000,34.736439,26.790539,17.885897,26.625174,33.886524,11.940256,20.464798,34.297951,7.071404,21.857140,17.840000,31.777956,61.779999,52.500935,22.001720,52.351711

In [ ]:
##mesma logica do que foi aplicado ao deepseek
cotacoes_chatgpt = yf.download(lista_chatgpt, start = '2020-01-01', end = '2024-12-31').Close
cotacoes_chatgpt

[*********************100%***********************]  20 of 20 completed

Ticker,ABEV3.SA,B3SA3.SA,BBAS3.SA,BBDC4.SA,CPFE3.SA,EGIE3.SA,EQTL3.SA,ITUB4.SA,JBSS3.SA,LREN3.SA,MGLU3.SA,NTCO3.SA,PETR4.SA,RADL3.SA,RENT3.SA,SBSP3.SA,SUZB3.SA,TOTS3.SA,VALE3.SA,WEGE3.SA
Date,,,,,,,,,,,,,,,,,,,,
2020-01-02,15.051881,12.283061,19.009806,21.166607,24.327658,37.733086,22.415335,28.415331,17.976547,42.073723,111.654091,36.566544,9.304729,20.955566,43.953621,52.544147,36.264065,21.556515,32.831028,16.282774
2020-01-03,14.840216,11.929082,18.978004,21.177322,24.175652,37.950783,22.148825,28.116455,18.154984,41.781040,110.658180,39.113708,9.228958,20.488394,43.315834,51.641655,36.139599,22.014772,32.589310,16.074852
2020-01-06,14.910769,11.814717,18.727127,20.799051,24.403658,37.631504,22.177382,27.698030,17.725403,41.744453,110.748726,38.283730,9.338069,20.085081,42.810928,50.851978,36.077362,21.512877,32.395943,16.116432
2020-01-07,14.942129,12.195928,18.585794,20.437716,24.120378,37.711319,22.063164,27.055454,18.042635,41.722507,110.431847,38.903824,9.301700,19.809521,43.227253,49.984192,36.539661,21.603279,32.631615,16.241188
2020-01-08,14.871572,12.163255,18.416185,20.121559,23.968372,37.333996,22.215456,26.614614,18.485435,41.993244,113.826965,39.104160,9.244113,20.074137,43.014668,49.246578,38.362202,21.313364,32.637653,15.626657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-20,12.007971,10.206277,23.986444,11.153629,32.509998,36.028046,28.472282,27.292318,35.016075,13.051380,7.086679,13.540000,33.637844,22.602268,33.238556,83.808189,59.619999,27.395306,52.568302,55.020622
2024-12-23,11.998153,10.196339,23.827066,10.954454,31.299999,34.853859,27.308750,26.763800,34.736023,12.273934,6.776031,13.120000,33.646973,22.473114,32.449043,85.530411,61.240002,27.534721,52.789661,53.810059
2024-12-26,11.919606,10.265903,24.105978,11.039815,31.490000,34.814720,27.201199,26.937086,34.717354,12.225344,6.339180,13.150000,33.899914,22.393633,32.103626,85.685211,61.939999,27.196140,52.943653,54.226730
2024-12-27,11.850875,10.295717,24.016329,10.954454,31.549999,34.198269,27.025202,26.668495,33.802505,12.038774,6.319765,12.880000,33.795662,21.857140,32.074024,85.423981,61.590000,26.917309,52.683800,53.254498
2024-12-30,11.526866,10.255966,24.076094,10.963940,31.590000,34.736439,26.790539,26.625174,33.886524,11.940256,6.310057,12.760000,34.297951,21.857140,31.777956,85.627159,61.779999,26.638475,52.500935,52.351711

In [ ]:
##mesma logica do que foi aplicado ao deepseek
cotacoes_gemini = yf.download(lista_gemini, start = '2020-01-01', end = '2024-12-31').Close
cotacoes_gemini

[*********************100%***********************]  20 of 20 completed

Ticker,ABEV3.SA,B3SA3.SA,BBDC4.SA,BPAC11.SA,CCRO3.SA,CYRE3.SA,EGIE3.SA,GGBR4.SA,ITUB4.SA,MGLU3.SA,NTCO3.SA,PETR4.SA,RADL3.SA,RENT3.SA,SUZB3.SA,TIMS3.SA,UGPA3.SA,VALE3.SA,VIVT3.SA,WEGE3.SA
Date,,,,,,,,,,,,,,,,,,,,
2020-01-02,15.051881,12.283061,21.166607,16.819351,16.876839,23.911976,37.733086,11.264825,28.415331,111.654091,36.566544,9.304729,20.955566,43.953621,36.264065,11.480997,9.997924,32.831028,14.794761,16.282774
2020-01-03,14.840216,11.929082,21.177322,16.868160,16.690304,25.210953,37.950783,11.080330,28.116455,110.658180,39.113708,9.228958,20.488394,43.315834,36.139599,11.502839,9.880760,32.589310,14.966506,16.074852
2020-01-06,14.910769,11.814717,20.799051,16.843754,16.263939,24.980364,37.631504,11.053203,27.698030,110.748726,38.283730,9.338069,20.085081,42.810928,36.077362,11.488278,9.665962,32.395943,14.822364,16.116432
2020-01-07,14.942129,12.195928,20.437716,16.910954,16.628124,25.057228,37.711319,11.226841,27.055454,110.431847,38.903824,9.301700,19.809521,43.227253,36.539661,11.612043,9.880760,32.631615,15.150519,16.241188
2020-01-08,14.871572,12.163255,20.121559,16.761082,16.512650,24.280914,37.333996,11.270249,26.614614,113.826965,39.104160,9.244113,20.074137,43.014668,38.362202,11.735808,9.802650,32.637653,15.303866,15.626657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-20,12.007971,10.206277,11.153629,28.570461,10.430000,17.227039,36.028046,18.980349,27.292318,7.086679,13.540000,33.637844,22.602268,33.238556,59.619999,13.740923,15.996893,52.568302,23.356541,55.020622
2024-12-23,11.998153,10.196339,10.954454,27.764959,10.160000,16.594679,34.853859,18.497213,26.763800,6.776031,13.120000,33.646973,22.473114,32.449043,61.240002,13.649316,15.792803,52.789661,22.599155,53.810059
2024-12-26,11.919606,10.265903,11.039815,27.665516,10.200000,16.374310,34.814720,18.447914,26.937086,6.339180,13.150000,33.899914,22.393633,32.103626,61.939999,13.396068,15.442931,52.943653,22.777916,54.226730
2024-12-27,11.850875,10.295717,10.954454,27.426847,10.230000,16.403055,34.198269,18.083097,26.668495,6.319765,12.880000,33.795662,21.857140,32.074024,61.590000,13.433383,15.404057,52.683800,22.185186,53.254498
2024-12-30,11.526866,10.255966,10.963940,27.048960,10.170000,16.240173,34.736439,17.885897,26.625174,6.310057,12.760000,34.297951,21.857140,31.777956,61.779999,13.508012,15.433212,52.500935,22.001720,52.351711

In [52]:
#preenchendo nulos com o valor mais recente
for coluna in cotacoes_gemini.columns:
    cotacoes_gemini[coluna] = cotacoes_gemini[coluna].bfill()

In [53]:
#verificando se ha nulos
cotacoes_gemini.isnull().sum().sum()

np.int64(0)

## Criando coluna de valores iniciais e integrando com as carteiras

In [ ]:
#criando o dicionarios com os ativos e seus valores iniciais para integrar com as carteiras 
v0_ibov = cotacoes_ibovespa.iloc[0].to_dict()
v0_deepseek = cotacoes_deepseek.iloc[0].to_dict()
v0_chatgpt = cotacoes_chatgpt.iloc[0].to_dict()
v0_gemini = cotacoes_gemini.iloc[0].to_dict()

In [ ]:
#atribuicao de um dataframe com os ativos e o valor inicial 
valor_inicial_ibov = pd.DataFrame(v0_ibov, index = range(0,1))
#aplicacao do metodo melt para transpor o df, criando as colunas ativos e valor
valor_inicial_ibov = valor_inicial_ibov.melt(var_name='ativo', value_name='valor')
valor_inicial_ibov

       ativo      valor
0   ABEV3.SA  15.051881
1   ALOS3.SA  44.290401
2   ASAI3.SA  13.740879
3   AURE3.SA  12.769601
4   AZZA3.SA  57.763351
..       ...        ...
79  VBBR3.SA  21.874403
80  VIVA3.SA  26.753843
81  VIVT3.SA  14.794761
82  WEGE3.SA  16.282768
83  YDUQ3.SA  41.797310

[84 rows x 2 columns]

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_inicial_deepseek = pd.DataFrame(v0_deepseek, index = range(0,1))
valor_inicial_deepseek = valor_inicial_deepseek.melt(var_name='ativo', value_name='valor')
valor_inicial_deepseek

       ativo      valor
0   ABEV3.SA  15.051881
1   BBAS3.SA  19.009806
2   BBDC4.SA  21.166607
3   CCRO3.SA  16.876839
4   EGIE3.SA  37.733086
5   EQTL3.SA  22.415335
6   GGBR4.SA  11.264825
7   ITUB4.SA  28.415331
8   JBSS3.SA  17.976547
9   LREN3.SA  42.073723
10  MULT3.SA  28.042656
11  PETR4.SA   9.304729
12  POMO4.SA   3.453853
13  RADL3.SA  20.955566
14  RAIL3.SA  26.160540
15  RENT3.SA  43.953621
16  SUZB3.SA  36.264065
17  VALE3.SA  32.831028
18  VIVT3.SA  14.794761
19  WEGE3.SA  16.282774

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_inicial_chatgpt = pd.DataFrame(v0_chatgpt, index = range(0,1))
valor_inicial_chatgpt = valor_inicial_chatgpt.melt(var_name='ativo', value_name='valor')
valor_inicial_chatgpt

       ativo       valor
0   ABEV3.SA   15.051881
1   B3SA3.SA   12.283061
2   BBAS3.SA   19.009806
3   BBDC4.SA   21.166607
4   CPFE3.SA   24.327658
5   EGIE3.SA   37.733086
6   EQTL3.SA   22.415335
7   ITUB4.SA   28.415331
8   JBSS3.SA   17.976547
9   LREN3.SA   42.073723
10  MGLU3.SA  111.654091
11  NTCO3.SA   36.566544
12  PETR4.SA    9.304729
13  RADL3.SA   20.955566
14  RENT3.SA   43.953621
15  SBSP3.SA   52.544147
16  SUZB3.SA   36.264065
17  TOTS3.SA   21.556515
18  VALE3.SA   32.831028
19  WEGE3.SA   16.282774

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_inicial_gemini = pd.DataFrame(v0_gemini, index = range(0,1))
valor_inicial_gemini = valor_inicial_gemini.melt(var_name='ativo', value_name='valor')
valor_inicial_gemini

        ativo       valor
0    ABEV3.SA   15.051881
1    B3SA3.SA   12.283061
2    BBDC4.SA   21.166607
3   BPAC11.SA   16.819351
4    CCRO3.SA   16.876839
5    CYRE3.SA   23.911976
6    EGIE3.SA   37.733086
7    GGBR4.SA   11.264825
8    ITUB4.SA   28.415331
9    MGLU3.SA  111.654091
10   NTCO3.SA   36.566544
11   PETR4.SA    9.304729
12   RADL3.SA   20.955566
13   RENT3.SA   43.953621
14   SUZB3.SA   36.264065
15   TIMS3.SA   11.480997
16   UGPA3.SA    9.997924
17   VALE3.SA   32.831028
18   VIVT3.SA   14.794761
19   WEGE3.SA   16.282774

## Integração de valores iniciais com carteiras

In [ ]:
#merge dos valores iniciais com as carteiras
ibovespa = ibovespa.merge(valor_inicial_ibov, how = 'inner', left_on='TICKER', right_on='ativo')
#exclusao de colunas redundantes
ibovespa.drop(columns=['ativo'], inplace = True)
#renomeando coluna
ibovespa.rename(columns={'valor':'valor_inicial_acao'},inplace=True)

In [ ]:
#criacao da coluna valor investido para cada ativo da carteira
ibovespa['valor_investido'] = 10000 * ibovespa['participacao']
#qtd de acoes compradas
ibovespa['qtd_acoes'] = ibovespa['valor_investido'] / ibovespa['valor_inicial_acao']
ibovespa

,cod,asset,participacao,SEGMENTS,TICKER,valor_inicial_acao,valor_investido,qtd_acoes
0,ALOS3,ALLOS,0.004943,Real Estate,ALOS3.SA,44.290401,49.429,1.116021
1,ABEV3,AMBEV S/A,0.028333,Beer and Soft Drinks,ABEV3.SA,15.051881,283.329,18.823495
2,ASAI3,ASSAI,0.007143,Food Retailers,ASAI3.SA,13.740879,71.429,5.198285
3,AURE3,AUREN,0.001553,Electric Utilities,AURE3.SA,12.769601,15.529,1.216091
4,AZZA3,AZZAS 2154,0.002933,"Apparel, Fabric and Footwear",AZZA3.SA,57.763351,29.329,0.507744
...,...,...,...,...,...,...,...,...
79,VAMO3,VAMOS,0.001163,Car Rental,VAMO3.SA,7.024816,11.629,1.655417
80,VBBR3,VIBRA,0.010443,"Exploration, Refining and Distribution",VBBR3.SA,21.874403,104.429,4.774027
81,VIVA3,VIVARA S.A.,0.001563,Accessories,VIVA3.SA,26.753843,15.629,0.584178
82,WEGE3,WEG,0.028743,"Motors, Compressors and Others",WEGE3.SA,16.282768,287.429,17.652342
83,YDUQ3,YDUQS PART,0.002003,Educational Services,YDUQ3.SA,41.797310,20.029,0.479194

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
deepseek = deepseek.merge(valor_inicial_deepseek, how = 'inner', left_on='ticker', right_on='ativo')
deepseek.drop(columns=['ativo'], inplace = True)
deepseek.rename(columns={'valor':'valor_inicial_acao'},inplace=True)
deepseek['valor_investido'] = 10000 * deepseek['participacao']
deepseek['qtd_acoes'] = deepseek['valor_investido'] / deepseek['valor_inicial_acao']
deepseek

,nome_empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes
0,Vale SA,VALE3.SA,0.095,VALE3,32.831028,950.0,28.936042
1,Petróleo Brasileiro SA,PETR4.SA,0.125,PETR4,9.304729,1250.0,134.340284
2,Itaú Unibanco,ITUB4.SA,0.090,ITUB4,28.415331,900.0,31.673043
3,Banco Bradesco,BBDC4.SA,0.080,BBDC4,21.166607,800.0,37.795382
4,Banco do Brasil,BBAS3.SA,0.050,BBAS3,19.009806,500.0,26.302215
5,Weg SA,WEGE3.SA,0.050,WEGE3,16.282774,500.0,30.707298
6,Ambev SA,ABEV3.SA,0.045,ABEV3,15.051881,450.0,29.896596
7,Localiza Rent a Car,RENT3.SA,0.045,RENT3,43.953621,450.0,10.238064
8,Suzano SA,SUZB3.SA,0.045,SUZB3,36.264065,450.0,12.408978
9,Equatorial Energia,EQTL3.SA,0.040,EQTL3,22.415335,400.0,17.844926
10,Rumo SA,RAIL3.SA,0.040,RAIL3,26.160540,400.0,15.290204
11,Telefônica Brasil,VIVT3.SA,0.040,VIVT3,14.794761,400.0,27.036598
12,JBS SA,JBSS3.SA,0.035,JBSS3,17.976547,350.0,19.469812
13,Gerdau SA,GGBR4.SA,0.035,GGBR4,11.264825,350.0,31.070168
14,Engie Brasil,EGIE3.SA,0.035,EGIE3,37.733086,350.0,9.275679
15,Lojas Renner,LREN3.SA,0.030,LREN3,42.073723,300.0,7.130341
16,Raia Drogasil,RADL3.SA,0.030,RADL3,20.955566,300.0,14.316005
17,Marcopolo,POMO4.SA,0.030,POMO4,3.453853,300.0,86.859507
18,Multiplan,MULT3.SA,0.030,MULT3,28.042656,300.0,10.697988
19,CCR SA,CCRO3.SA,0.030,CCRO3,16.876839,300.0,17.775841

In [ ]:
#renomeando coluna para realizar os procedimentos
chatgpt.rename(columns={'participação':'participacao'},inplace = True)
chatgpt

       nome da empresa    ticker  participacao    cod
0            Vale S.A.  VALE3.SA          0.14  VALE3
1            Petrobras  PETR4.SA          0.12  PETR4
2        Itaú Unibanco  ITUB4.SA          0.07  ITUB4
3      Banco do Brasil  BBAS3.SA          0.06  BBAS3
4             Bradesco  BBDC4.SA          0.06  BBDC4
5                Ambev  ABEV3.SA          0.05  ABEV3
6             WEG S.A.  WEGE3.SA          0.05  WEGE3
7             JBS S.A.  JBSS3.SA          0.05  JBSS3
8               Suzano  SUZB3.SA          0.05  SUZB3
9              B3 S.A.  B3SA3.SA          0.05  B3SA3
10  Equatorial Energia  EQTL3.SA          0.04  EQTL3
11        Engie Brasil  EGIE3.SA          0.04  EGIE3
12        CPFL Energia  CPFE3.SA          0.04  CPFE3
13            Localiza  RENT3.SA          0.03  RENT3
14      Magazine Luiza  MGLU3.SA          0.03  MGLU3
15        Lojas Renner  LREN3.SA          0.03  LREN3
16       Raia Drogasil  RADL3.SA          0.03  RADL3
17               Totvs  TOTS3.SA          0.02  TOTS3
18              Sabesp  SBSP3.SA          0.02  SBSP3
19              Natura  NTCO3.SA          0.02  NTCO3

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
chatgpt = chatgpt.merge(valor_inicial_chatgpt, how = 'inner', left_on='ticker', right_on='ativo')
chatgpt.drop(columns=['ativo'], inplace = True)
chatgpt.rename(columns={'valor':'valor_inicial_acao'},inplace=True)

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
chatgpt['valor_investido'] = 10000 * chatgpt['participacao']
chatgpt['qtd_acoes'] = chatgpt['valor_investido'] / chatgpt['valor_inicial_acao']
chatgpt

,nome da empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes
0,Vale S.A.,VALE3.SA,0.14,VALE3,32.831028,1400.0,42.642588
1,Petrobras,PETR4.SA,0.12,PETR4,9.304729,1200.0,128.966673
2,Itaú Unibanco,ITUB4.SA,0.07,ITUB4,28.415331,700.0,24.634589
3,Banco do Brasil,BBAS3.SA,0.06,BBAS3,19.009806,600.0,31.562658
4,Bradesco,BBDC4.SA,0.06,BBDC4,21.166607,600.0,28.346537
5,Ambev,ABEV3.SA,0.05,ABEV3,15.051881,500.0,33.218440
6,WEG S.A.,WEGE3.SA,0.05,WEGE3,16.282774,500.0,30.707298
7,JBS S.A.,JBSS3.SA,0.05,JBSS3,17.976547,500.0,27.814018
8,Suzano,SUZB3.SA,0.05,SUZB3,36.264065,500.0,13.787754
9,B3 S.A.,B3SA3.SA,0.05,B3SA3,12.283061,500.0,40.706466
10,Equatorial Energia,EQTL3.SA,0.04,EQTL3,22.415335,400.0,17.844926
11,Engie Brasil,EGIE3.SA,0.04,EGIE3,37.733086,400.0,10.600776
12,CPFL Energia,CPFE3.SA,0.04,CPFE3,24.327658,400.0,16.442191
13,Localiza,RENT3.SA,0.03,RENT3,43.953621,300.0,6.825376
14,Magazine Luiza,MGLU3.SA,0.03,MGLU3,111.654091,300.0,2.686870
15,Lojas Renner,LREN3.SA,0.03,LREN3,42.073723,300.0,7.130341
16,Raia Drogasil,RADL3.SA,0.03,RADL3,20.955566,300.0,14.316005
17,Totvs,TOTS3.SA,0.02,TOTS3,21.556515,200.0,9.277938
18,Sabesp,SBSP3.SA,0.02,SBSP3,52.544147,200.0,3.806323
19,Natura,NTCO3.SA,0.02,NTCO3,36.566544,200.0,5.469481

In [66]:
gemini

                            nome_empresa     ticker  participacao    cod
0                          Itaú Unibanco   ITUB4.SA          0.10  ITUB4
1                         Banco Bradesco   BBDC4.SA          0.10  BBDC4
2                       BTG Pactual S.A.  BPAC11.SA          0.04  BPAC1
3                              Vale S.A.   VALE3.SA          0.06  VALE3
4   Petróleo Brasileiro S.A. - Petrobras   PETR4.SA          0.11  PETR4
5                             Ambev S.A.   ABEV3.SA          0.05  ABEV3
6                    Magazine Luiza S.A.   MGLU3.SA          0.03  MGLU3
7                               WEG S.A.   WEGE3.SA          0.05  WEGE3
8               Localiza Rent a Car S.A.   RENT3.SA          0.04  RENT3
9                            Suzano S.A.   SUZB3.SA          0.04  SUZB3
10             Engie Brasil Energia S.A.   EGIE3.SA          0.05  EGIE3
11                              CCR S.A.   CCRO3.SA          0.04  CCRO3
12                Telefônica Brasil S.A.   VIVT3.SA          0.04  VIVT3
13               Natura &Co Holding S.A.   NTCO3.SA          0.03  NTCO3
14       B3 S.A. - Brasil, Bolsa, Balcão   B3SA3.SA          0.05  B3SA3
15                              TIM S.A.   TIMS3.SA          0.03  TIMS3
16                    Raia Drogasil S.A.   RADL3.SA          0.04  RADL3
17           Ultrapar Participações S.A.   UGPA3.SA          0.04  UGPA3
18                           Gerdau S.A.   GGBR4.SA          0.04  GGBR4
19     Cyrela Commercial Properties S.A.   CYRE3.SA          0.02  CYRE3

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
gemini = gemini.merge(valor_inicial_gemini, how = 'inner', left_on='ticker', right_on='ativo')
gemini.drop(columns=['ativo'], inplace = True)
gemini.rename(columns={'valor':'valor_inicial_acao'},inplace=True)
gemini['valor_investido'] = 10000 * gemini['participacao']
gemini['qtd_acoes'] = gemini['valor_investido'] / gemini['valor_inicial_acao']
gemini

,nome_empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes
0,Itaú Unibanco,ITUB4.SA,0.10,ITUB4,28.415331,1000.0,35.192270
1,Banco Bradesco,BBDC4.SA,0.10,BBDC4,21.166607,1000.0,47.244228
2,BTG Pactual S.A.,BPAC11.SA,0.04,BPAC1,16.819351,400.0,23.782130
3,Vale S.A.,VALE3.SA,0.06,VALE3,32.831028,600.0,18.275395
4,Petróleo Brasileiro S.A. - Petrobras,PETR4.SA,0.11,PETR4,9.304729,1100.0,118.219450
5,Ambev S.A.,ABEV3.SA,0.05,ABEV3,15.051881,500.0,33.218440
6,Magazine Luiza S.A.,MGLU3.SA,0.03,MGLU3,111.654091,300.0,2.686870
7,WEG S.A.,WEGE3.SA,0.05,WEGE3,16.282774,500.0,30.707298
8,Localiza Rent a Car S.A.,RENT3.SA,0.04,RENT3,43.953621,400.0,9.100502
9,Suzano S.A.,SUZB3.SA,0.04,SUZB3,36.264065,400.0,11.030203
10,Engie Brasil Energia S.A.,EGIE3.SA,0.05,EGIE3,37.733086,500.0,13.250970
11,CCR S.A.,CCRO3.SA,0.04,CCRO3,16.876839,400.0,23.701121
12,Telefônica Brasil S.A.,VIVT3.SA,0.04,VIVT3,14.794761,400.0,27.036598
13,Natura &Co Holding S.A.,NTCO3.SA,0.03,NTCO3,36.566544,300.0,8.204221
14,"B3 S.A. - Brasil, Bolsa, Balcão",B3SA3.SA,0.05,B3SA3,12.283061,500.0,40.706466
15,TIM S.A.,TIMS3.SA,0.03,TIMS3,11.480997,300.0,26.130135
16,Raia Drogasil S.A.,RADL3.SA,0.04,RADL3,20.955566,400.0,19.088007
17,Ultrapar Participações S.A.,UGPA3.SA,0.04,UGPA3,9.997924,400.0,40.008306
18,Gerdau S.A.,GGBR4.SA,0.04,GGBR4,11.264825,400.0,35.508763
19,Cyrela Commercial Properties S.A.,CYRE3.SA,0.02,CYRE3,23.911976,200.0,8.364010

## Valores Finais

In [ ]:
#mesma logica do q foi feito com os valores iniciais, porem agora com os valores finais.
valor_final_ibovespa = cotacoes_ibovespa.iloc[-1].to_dict()
valor_final_ibovespa =pd.DataFrame(valor_final_ibovespa, index = range(0,1))
valor_final_ibovespa = valor_final_ibovespa.melt(var_name='ativo', value_name='valor_final')
valor_final_ibovespa

       ativo  valor_final
0   ABEV3.SA    11.526866
1   ALOS3.SA    17.844593
2   ASAI3.SA     5.529562
3   AURE3.SA     8.711704
4   AZZA3.SA    29.580000
..       ...          ...
79  VBBR3.SA    17.045059
80  VIVA3.SA    18.616806
81  VIVT3.SA    22.001720
82  WEGE3.SA    52.351711
83  YDUQ3.SA     8.215814

[84 rows x 2 columns]

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_final_deepseek = cotacoes_deepseek.iloc[-1].to_dict()
valor_final_deepseek =pd.DataFrame(valor_final_deepseek, index = range(0,1))
valor_final_deepseek = valor_final_deepseek.melt(var_name='ativo', value_name='valor_final')
valor_final_deepseek

       ativo  valor_final
0   ABEV3.SA    11.526866
1   BBAS3.SA    24.076094
2   BBDC4.SA    10.963940
3   CCRO3.SA    10.170000
4   EGIE3.SA    34.736439
5   EQTL3.SA    26.790539
6   GGBR4.SA    17.885897
7   ITUB4.SA    26.625174
8   JBSS3.SA    33.886524
9   LREN3.SA    11.940256
10  MULT3.SA    20.464798
11  PETR4.SA    34.297951
12  POMO4.SA     7.071404
13  RADL3.SA    21.857140
14  RAIL3.SA    17.840000
15  RENT3.SA    31.777956
16  SUZB3.SA    61.779999
17  VALE3.SA    52.500935
18  VIVT3.SA    22.001720
19  WEGE3.SA    52.351711

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_final_chatgpt = cotacoes_chatgpt.iloc[-1].to_dict()
valor_final_chatgpt =pd.DataFrame(valor_final_chatgpt, index = range(0,1))
valor_final_chatgpt = valor_final_chatgpt.melt(var_name='ativo', value_name='valor_final')
valor_final_chatgpt

       ativo  valor_final
0   ABEV3.SA    11.526866
1   B3SA3.SA    10.255966
2   BBAS3.SA    24.076094
3   BBDC4.SA    10.963940
4   CPFE3.SA    31.590000
5   EGIE3.SA    34.736439
6   EQTL3.SA    26.790539
7   ITUB4.SA    26.625174
8   JBSS3.SA    33.886524
9   LREN3.SA    11.940256
10  MGLU3.SA     6.310057
11  NTCO3.SA    12.760000
12  PETR4.SA    34.297951
13  RADL3.SA    21.857140
14  RENT3.SA    31.777956
15  SBSP3.SA    85.627159
16  SUZB3.SA    61.779999
17  TOTS3.SA    26.638475
18  VALE3.SA    52.500935
19  WEGE3.SA    52.351711

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
valor_final_gemini = cotacoes_gemini.iloc[-1].to_dict()
valor_final_gemini =pd.DataFrame(valor_final_gemini, index = range(0,1))
valor_final_gemini = valor_final_gemini.melt(var_name='ativo', value_name='valor_final')
valor_final_gemini

        ativo  valor_final
0    ABEV3.SA    11.526866
1    B3SA3.SA    10.255966
2    BBDC4.SA    10.963940
3   BPAC11.SA    27.048960
4    CCRO3.SA    10.170000
5    CYRE3.SA    16.240173
6    EGIE3.SA    34.736439
7    GGBR4.SA    17.885897
8    ITUB4.SA    26.625174
9    MGLU3.SA     6.310057
10   NTCO3.SA    12.760000
11   PETR4.SA    34.297951
12   RADL3.SA    21.857140
13   RENT3.SA    31.777956
14   SUZB3.SA    61.779999
15   TIMS3.SA    13.508012
16   UGPA3.SA    15.433212
17   VALE3.SA    52.500935
18   VIVT3.SA    22.001720
19   WEGE3.SA    52.351711

#### integracao de valores finais com as carteiras

In [ ]:
#merge dos valores finais com a carteira
ibovespa = ibovespa.merge(valor_final_ibovespa, how='inner', left_on ='TICKER', right_on= 'ativo')
ibovespa.drop(columns=['ativo'], inplace = True)
ibovespa

,cod,asset,participacao,SEGMENTS,TICKER,valor_inicial_acao,valor_investido,qtd_acoes,valor_final
0,ALOS3,ALLOS,0.004943,Real Estate,ALOS3.SA,44.290401,49.429,1.116021,17.844593
1,ABEV3,AMBEV S/A,0.028333,Beer and Soft Drinks,ABEV3.SA,15.051881,283.329,18.823495,11.526866
2,ASAI3,ASSAI,0.007143,Food Retailers,ASAI3.SA,13.740879,71.429,5.198285,5.529562
3,AURE3,AUREN,0.001553,Electric Utilities,AURE3.SA,12.769601,15.529,1.216091,8.711704
4,AZZA3,AZZAS 2154,0.002933,"Apparel, Fabric and Footwear",AZZA3.SA,57.763351,29.329,0.507744,29.580000
...,...,...,...,...,...,...,...,...,...
79,VAMO3,VAMOS,0.001163,Car Rental,VAMO3.SA,7.024816,11.629,1.655417,4.750000
80,VBBR3,VIBRA,0.010443,"Exploration, Refining and Distribution",VBBR3.SA,21.874403,104.429,4.774027,17.045059
81,VIVA3,VIVARA S.A.,0.001563,Accessories,VIVA3.SA,26.753843,15.629,0.584178,18.616806
82,WEGE3,WEG,0.028743,"Motors, Compressors and Others",WEGE3.SA,16.282768,287.429,17.652342,52.351711
83,YDUQ3,YDUQS PART,0.002003,Educational Services,YDUQ3.SA,41.797310,20.029,0.479194,8.215814

In [ ]:
#coluna resultado, que é o resultado da subtracao entre o valor invesstido pelo produto da quantidade de acoes pela diferenca de valores
ibovespa['resultado'] = ibovespa['valor_investido'] + ibovespa['qtd_acoes'] * (ibovespa['valor_final'] - ibovespa['valor_inicial_acao'])

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
deepseek = deepseek.merge(valor_final_deepseek, how='inner', left_on ='ticker', right_on= 'ativo')
deepseek.drop(columns=['ativo'], inplace = True)
deepseek['resultado'] = deepseek['valor_investido'] + deepseek['qtd_acoes'] * (deepseek['valor_final'] - deepseek['valor_inicial_acao'])

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
chatgpt = chatgpt.merge(valor_final_chatgpt, how='inner', left_on ='ticker', right_on= 'ativo')
chatgpt.drop(columns=['ativo'], inplace = True)
chatgpt['resultado'] = chatgpt['valor_investido'] + chatgpt['qtd_acoes'] * (chatgpt['valor_final'] - chatgpt['valor_inicial_acao'])

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
gemini = gemini.merge(valor_final_gemini, how='inner', left_on ='ticker', right_on= 'ativo')
gemini.drop(columns=['ativo'], inplace = True)
gemini['resultado'] = gemini['valor_investido'] + gemini['qtd_acoes'] * (gemini['valor_final'] - gemini['valor_inicial_acao'])

## Normalização de carteiras

#### Normalizando IBOVESPA

In [ ]:
#normalizando para obter o retorno numa msma magnitude
cotacoes_ibovespa_normalizado = cotacoes_ibovespa/cotacoes_ibovespa.iloc[0]
cotacoes_ibovespa_normalizado

Ticker,ABEV3.SA,ALOS3.SA,ASAI3.SA,AURE3.SA,AZZA3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VAMO3.SA,VBBR3.SA,VIVA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-01-03,0.985938,1.028194,1.000000,1.000000,0.985761,0.971182,0.998327,0.984395,1.000506,0.988976,...,1.021258,0.988281,0.989691,0.992638,1.000000,0.994144,0.993831,1.011609,0.987231,0.979037
2020-01-06,0.990625,1.021196,1.000000,1.000000,0.979659,0.961871,0.985130,0.978749,0.982636,1.005249,...,0.997976,0.966797,0.971134,0.986748,1.000000,0.944372,0.976353,1.001866,0.989785,0.997861
2020-01-07,0.992708,1.009198,1.000000,1.000000,0.984196,0.992906,0.977695,0.962093,0.965565,1.005774,...,1.002169,0.988281,0.980413,0.993926,1.000000,0.943071,0.956134,1.024046,0.997446,0.979251
2020-01-08,0.988021,1.039792,1.000000,1.000000,0.970114,0.990246,0.968773,0.947413,0.950627,1.005249,...,0.988720,0.980469,0.968041,0.994110,1.000000,0.938516,0.957848,1.034411,0.959705,0.973476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-20,0.797772,0.416691,0.412424,0.699336,0.536672,0.830923,1.261793,0.515571,0.526944,1.449007,...,1.270860,1.600021,0.699462,1.601177,0.711762,0.807810,0.769598,1.578704,3.379071,0.199782
2024-12-23,0.797120,0.409796,0.413853,0.682222,0.507935,0.830114,1.253409,0.507441,0.517535,1.447420,...,1.277327,1.579608,0.674987,1.607920,0.714610,0.797045,0.721521,1.527511,3.304724,0.193345
2024-12-26,0.791901,0.405569,0.422430,0.675221,0.499105,0.835777,1.268081,0.513180,0.521567,1.446627,...,1.261620,1.544614,0.681428,1.612610,0.714610,0.791891,0.695132,1.539593,3.330314,0.189436
2024-12-27,0.787335,0.404235,0.409565,0.676777,0.504472,0.838205,1.263365,0.509354,0.517535,1.439090,...,1.248686,1.540726,0.681428,1.604695,0.663363,0.781845,0.696578,1.499530,3.270605,0.191276
2024-12-30,0.765809,0.402900,0.402417,0.682222,0.512089,0.834968,1.266509,0.508876,0.517983,1.435124,...,1.235751,1.543642,0.685293,1.599126,0.676174,0.779224,0.695855,1.487129,3.215160,0.196563

In [ ]:
#atribuindo as datas como indice
cotacoes_ibovespa_normalizado['Date'] = cotacoes_ibovespa_normalizado.index

In [ ]:
#transposicao do df, para realizar o groupby, de modo a obter a cotacao diaria da carteira, pela media dos valores de cada papel e pela sua participacao
ibovespa_melted_normalizado = pd.melt(cotacoes_ibovespa_normalizado, id_vars=['Date'], var_name='Ativo', value_name='Preco')
ibovespa_melted_normalizado

             Date     Ativo     Preco
0      2020-01-02  ABEV3.SA  1.000000
1      2020-01-03  ABEV3.SA  0.985938
2      2020-01-06  ABEV3.SA  0.990625
3      2020-01-07  ABEV3.SA  0.992708
4      2020-01-08  ABEV3.SA  0.988021
...           ...       ...       ...
104491 2024-12-20  YDUQ3.SA  0.199782
104492 2024-12-23  YDUQ3.SA  0.193345
104493 2024-12-26  YDUQ3.SA  0.189436
104494 2024-12-27  YDUQ3.SA  0.191276
104495 2024-12-30  YDUQ3.SA  0.196563

[104496 rows x 3 columns]

### agregando a participação de cada ativo nas cotacoes

In [ ]:
#df com as participacoes de cada papel
contribuicao_ibovespa = ibovespa[['TICKER','participacao']]

In [ ]:
#merge da carteira com as cotacoes, para calcular o rendimento com base na participacao da carteira
retorno_carteira_ibovespa = ibovespa_melted_normalizado.merge(contribuicao_ibovespa, how = 'inner', left_on='Ativo', right_on = 'TICKER') 
retorno_carteira_ibovespa

             Date     Ativo     Preco  retorno_diario    TICKER  participacao
0      2020-01-02  ABEV3.SA  1.000000             NaN  ABEV3.SA      0.028333
1      2020-01-03  ABEV3.SA  0.985938       -0.014062  ABEV3.SA      0.028333
2      2020-01-06  ABEV3.SA  0.990625        0.004754  ABEV3.SA      0.028333
3      2020-01-07  ABEV3.SA  0.992708        0.002103  ABEV3.SA      0.028333
4      2020-01-08  ABEV3.SA  0.988021       -0.004722  ABEV3.SA      0.028333
...           ...       ...       ...             ...       ...           ...
104491 2024-12-20  YDUQ3.SA  0.199782        0.048251  YDUQ3.SA      0.002003
104492 2024-12-23  YDUQ3.SA  0.193345       -0.032221  YDUQ3.SA      0.002003
104493 2024-12-26  YDUQ3.SA  0.189436       -0.020214  YDUQ3.SA      0.002003
104494 2024-12-27  YDUQ3.SA  0.191276        0.009709  YDUQ3.SA      0.002003
104495 2024-12-30  YDUQ3.SA  0.196563        0.027644  YDUQ3.SA      0.002003

[104496 rows x 6 columns]

In [ ]:
#calculo do retorno com base na participacao da carteira
retorno_carteira_ibovespa['contribuicao'] = retorno_carteira_ibovespa['Preco'] * retorno_carteira_ibovespa['participacao']
retorno_carteira_ibovespa

,Date,Ativo,Preco,retorno_diario,TICKER,participacao,contribuicao
0,2020-01-02,ABEV3.SA,1.000000,NaN,ABEV3.SA,0.028333,0.028333
1,2020-01-03,ABEV3.SA,0.985938,-0.014062,ABEV3.SA,0.028333,0.027934
2,2020-01-06,ABEV3.SA,0.990625,0.004754,ABEV3.SA,0.028333,0.028067
3,2020-01-07,ABEV3.SA,0.992708,0.002103,ABEV3.SA,0.028333,0.028126
4,2020-01-08,ABEV3.SA,0.988021,-0.004722,ABEV3.SA,0.028333,0.027993
...,...,...,...,...,...,...,...
104491,2024-12-20,YDUQ3.SA,0.199782,0.048251,YDUQ3.SA,0.002003,0.000400
104492,2024-12-23,YDUQ3.SA,0.193345,-0.032221,YDUQ3.SA,0.002003,0.000387
104493,2024-12-26,YDUQ3.SA,0.189436,-0.020214,YDUQ3.SA,0.002003,0.000379
104494,2024-12-27,YDUQ3.SA,0.191276,0.009709,YDUQ3.SA,0.002003,0.000383
104495,2024-12-30,YDUQ3.SA,0.196563,0.027644,YDUQ3.SA,0.002003,0.000394

In [ ]:
#calculo do rendimento diario da carteira ibovespa
retorno_carteira_ibovespa = retorno_carteira_ibovespa.groupby('Date')['contribuicao'].sum().reset_index()

In [ ]:
#coluna com o valor diario da carteira
retorno_carteira_ibovespa.rename(columns={'contribuicao': 'valor_carteira'}, inplace=True)
retorno_carteira_ibovespa

           Date  valor_carteira  retorno_diario
0    2020-01-02        0.999984             NaN
1    2020-01-03        0.994501       -0.005483
2    2020-01-06        0.991016       -0.003505
3    2020-01-07        0.990980       -0.000036
4    2020-01-08        0.986850       -0.004167
...         ...             ...             ...
1239 2024-12-20        1.574759        0.002857
1240 2024-12-23        1.561445       -0.008454
1241 2024-12-26        1.564394        0.001889
1242 2024-12-27        1.554315       -0.006443
1243 2024-12-30        1.556810        0.001605

[1244 rows x 3 columns]

In [ ]:
#retorno em reais
retorno_carteira_ibovespa['valor_carteira_reais'] = retorno_carteira_ibovespa['valor_carteira'] * 10000
retorno_carteira_ibovespa

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        0.999984           9999.836000
1    2020-01-03        0.994501           9945.009252
2    2020-01-06        0.991016           9910.156373
3    2020-01-07        0.990980           9909.797117
4    2020-01-08        0.986850           9868.499473
...         ...             ...                   ...
1239 2024-12-20        1.574759          15747.587182
1240 2024-12-23        1.561445          15614.452286
1241 2024-12-26        1.564394          15643.943459
1242 2024-12-27        1.554315          15543.153690
1243 2024-12-30        1.556810          15568.101285

[1244 rows x 3 columns]

#### Normalizando deepseek

In [ ]:
#aplicando o mesmo procedimento para as carteiras
#normalizacao
cotacoes_deepseek_normalizado = cotacoes_deepseek/cotacoes_deepseek.iloc[0]
#atribuicao da data como indice
cotacoes_deepseek_normalizado['Date'] = cotacoes_deepseek_normalizado.index
#df com os ativos e as suas participacoes
contribuicao_deepseek = deepseek[['ticker','participacao']]

NameError: name 'deepseek_melted_normalizado' is not defined

In [ ]:
#pivotamento do df 
deepseek_melted_normalizado = pd.melt(cotacoes_deepseek_normalizado, id_vars=['Date'], var_name='Ativo', value_name='Preco')
#merge das contribuicoes com as cotacoes
retorno_carteira_deepseek = deepseek_melted_normalizado.merge(contribuicao_deepseek, how = 'inner', left_on='Ativo', right_on = 'ticker')
#calculo do retorno por ativo
retorno_carteira_deepseek['contribuicao'] = retorno_carteira_deepseek['Preco'] * retorno_carteira_deepseek['participacao']
#groupby por data e contribuicao para obter o valor diario da carteira
retorno_carteira_deepseek = retorno_carteira_deepseek.groupby('Date')['contribuicao'].sum().reset_index()
#renomeando coluna para melhor identificar a feature
retorno_carteira_deepseek.rename(columns={'contribuicao': 'valor_carteira'}, inplace=True)
#valor em reais
retorno_carteira_deepseek['valor_carteira_reais'] = retorno_carteira_deepseek['valor_carteira'] * 10000
retorno_carteira_deepseek

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        1.000000          10000.000000
1    2020-01-03        0.992605           9926.046147
2    2020-01-06        0.985367           9853.665023
3    2020-01-07        0.986454           9864.541991
4    2020-01-08        0.984128           9841.281987
...         ...             ...                   ...
1239 2024-12-20        1.557823          15578.232478
1240 2024-12-23        1.540941          15409.411844
1241 2024-12-26        1.547150          15471.497177
1242 2024-12-27        1.534429          15344.287755
1243 2024-12-30        1.535724          15357.238422

[1244 rows x 3 columns]

#### Normalizando chatgpt

In [ ]:
#mesma logica do que foi aplicado ao ibovespa
cotacoes_chatgpt_normalizado = cotacoes_chatgpt/cotacoes_chatgpt.iloc[0]
cotacoes_chatgpt_normalizado['Date'] = cotacoes_chatgpt_normalizado.index
contribuicao_chatgpt = chatgpt[['ticker','participacao']]
chatgpt_melted_normalizado = pd.melt(cotacoes_chatgpt_normalizado, id_vars=['Date'], var_name='Ativo', value_name='Preco')
retorno_carteira_chatgpt = chatgpt_melted_normalizado.merge(contribuicao_chatgpt, how = 'inner', left_on='Ativo', right_on = 'ticker')
retorno_carteira_chatgpt['contribuicao'] = retorno_carteira_chatgpt['Preco'] * retorno_carteira_chatgpt['participacao']
retorno_carteira_chatgpt = retorno_carteira_chatgpt.groupby('Date')['contribuicao'].sum().reset_index()
retorno_carteira_chatgpt.rename(columns={'contribuicao': 'valor_carteira'}, inplace=True)
retorno_carteira_chatgpt['valor_carteira_reais'] = retorno_carteira_chatgpt['valor_carteira'] * 10000
retorno_carteira_chatgpt

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        1.000000          10000.000000
1    2020-01-03        0.994128           9941.276420
2    2020-01-06        0.988375           9883.746730
3    2020-01-07        0.988713           9887.127052
4    2020-01-08        0.987489           9874.889715
...         ...             ...                   ...
1239 2024-12-20        1.535955          15359.550843
1240 2024-12-23        1.526194          15261.944638
1241 2024-12-26        1.533216          15332.159619
1242 2024-12-27        1.521156          15211.560420
1243 2024-12-30        1.523144          15231.438204

[1244 rows x 3 columns]

In [ ]:
##mesma logica do que foi aplicado ao ibovespa
cotacoes_gemini_normalizado = cotacoes_gemini/cotacoes_gemini.iloc[0]
cotacoes_gemini_normalizado['Date'] = cotacoes_gemini_normalizado.index
contribuicao_gemini = gemini[['ticker','participacao']]
gemini_melted_normalizado = pd.melt(cotacoes_gemini_normalizado, id_vars=['Date'], var_name='Ativo', value_name='Preco')
retorno_carteira_gemini = gemini_melted_normalizado.merge(contribuicao_gemini, how = 'inner', left_on='Ativo', right_on = 'ticker')
retorno_carteira_gemini['contribuicao'] = retorno_carteira_gemini['Preco'] * retorno_carteira_gemini['participacao']
retorno_carteira_gemini = retorno_carteira_gemini.groupby('Date')['contribuicao'].sum().reset_index()
retorno_carteira_gemini.rename(columns={'contribuicao': 'valor_carteira'}, inplace=True)
retorno_carteira_gemini['valor_carteira_reais'] = retorno_carteira_gemini['valor_carteira'] * 10000
retorno_carteira_gemini

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        1.000000          10000.000000
1    2020-01-03        0.995538           9955.379486
2    2020-01-06        0.988089           9880.887733
3    2020-01-07        0.990826           9908.260776
4    2020-01-08        0.987056           9870.555507
...         ...             ...                   ...
1239 2024-12-20        1.430300          14302.999650
1240 2024-12-23        1.415155          14151.553332
1241 2024-12-26        1.418824          14188.240175
1242 2024-12-27        1.406767          14067.666526
1243 2024-12-30        1.406743          14067.429658

[1244 rows x 3 columns]

## Exportação de dados

Salvando os dados tratados para serem utilizados em um relatorio

### Taxa DI

In [152]:
di.to_csv('taxa_di_reais.csv', sep = ';', index = False)

In [153]:
di_normalizado.to_csv('taxa_di_normalizado.csv', sep = ';', index = False)

#### IBOVESPA

In [157]:
ibovespa

,cod,asset,participacao,SEGMENTS,TICKER,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,ALOS3,ALLOS,0.004943,Real Estate,ALOS3.SA,44.290401,49.429,1.116021,17.844593,19.914933
1,ABEV3,AMBEV S/A,0.028333,Beer and Soft Drinks,ABEV3.SA,15.051881,283.329,18.823495,11.526866,216.975901
2,ASAI3,ASSAI,0.007143,Food Retailers,ASAI3.SA,13.740879,71.429,5.198285,5.529562,28.744234
3,AURE3,AUREN,0.001553,Electric Utilities,AURE3.SA,12.769601,15.529,1.216091,8.711704,10.594227
4,AZZA3,AZZAS 2154,0.002933,"Apparel, Fabric and Footwear",AZZA3.SA,57.763351,29.329,0.507744,29.580000,15.019070
...,...,...,...,...,...,...,...,...,...,...
79,VAMO3,VAMOS,0.001163,Car Rental,VAMO3.SA,7.024816,11.629,1.655417,4.750000,7.863231
80,VBBR3,VIBRA,0.010443,"Exploration, Refining and Distribution",VBBR3.SA,21.874403,104.429,4.774027,17.045059,81.373580
81,VIVA3,VIVARA S.A.,0.001563,Accessories,VIVA3.SA,26.753843,15.629,0.584178,18.616806,10.875524
82,WEGE3,WEG,0.028743,"Motors, Compressors and Others",WEGE3.SA,16.282768,287.429,17.652342,52.351711,924.130331
83,YDUQ3,YDUQS PART,0.002003,Educational Services,YDUQ3.SA,41.797310,20.029,0.479194,8.215814,3.936965

In [159]:
ibovespa.drop(columns=['cod', 'asset'],inplace=True)

In [161]:
ibovespa.columns

Index(['participacao', 'SEGMENTS', 'TICKER', 'valor_inicial_acao',
       'valor_investido', 'qtd_acoes', 'valor_final', 'resultado'],
      dtype='object')

In [162]:
ibovespa = ibovespa[['TICKER','participacao', 'SEGMENTS', 'valor_inicial_acao',
       'valor_investido', 'qtd_acoes', 'valor_final', 'resultado']]

In [163]:
ibovespa

,TICKER,participacao,SEGMENTS,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,ALOS3.SA,0.004943,Real Estate,44.290401,49.429,1.116021,17.844593,19.914933
1,ABEV3.SA,0.028333,Beer and Soft Drinks,15.051881,283.329,18.823495,11.526866,216.975901
2,ASAI3.SA,0.007143,Food Retailers,13.740879,71.429,5.198285,5.529562,28.744234
3,AURE3.SA,0.001553,Electric Utilities,12.769601,15.529,1.216091,8.711704,10.594227
4,AZZA3.SA,0.002933,"Apparel, Fabric and Footwear",57.763351,29.329,0.507744,29.580000,15.019070
...,...,...,...,...,...,...,...,...
79,VAMO3.SA,0.001163,Car Rental,7.024816,11.629,1.655417,4.750000,7.863231
80,VBBR3.SA,0.010443,"Exploration, Refining and Distribution",21.874403,104.429,4.774027,17.045059,81.373580
81,VIVA3.SA,0.001563,Accessories,26.753843,15.629,0.584178,18.616806,10.875524
82,WEGE3.SA,0.028743,"Motors, Compressors and Others",16.282768,287.429,17.652342,52.351711,924.130331
83,YDUQ3.SA,0.002003,Educational Services,41.797310,20.029,0.479194,8.215814,3.936965

In [166]:
ibovespa.to_csv('carteira_ibovespa.csv', sep = ';', index = False)

In [165]:
retorno_carteira_ibovespa

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        0.999984           9999.836000
1    2020-01-03        0.994501           9945.009252
2    2020-01-06        0.991016           9910.156373
3    2020-01-07        0.990980           9909.797117
4    2020-01-08        0.986850           9868.499473
...         ...             ...                   ...
1239 2024-12-20        1.574759          15747.587182
1240 2024-12-23        1.561445          15614.452286
1241 2024-12-26        1.564394          15643.943459
1242 2024-12-27        1.554315          15543.153690
1243 2024-12-30        1.556810          15568.101285

[1244 rows x 3 columns]

In [167]:
retorno_carteira_ibovespa.to_csv('ibovespa_normalizado.csv', sep = ';', index = False)

#### deepseek

In [168]:
deepseek

,nome_empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,Vale SA,VALE3.SA,0.095,VALE3,32.831028,950.0,28.936042,52.500935,1519.169241
1,Petróleo Brasileiro SA,PETR4.SA,0.125,PETR4,9.304729,1250.0,134.340284,34.297951,4607.596449
2,Itaú Unibanco,ITUB4.SA,0.090,ITUB4,28.415331,900.0,31.673043,26.625174,843.300270
3,Banco Bradesco,BBDC4.SA,0.080,BBDC4,21.166607,800.0,37.795382,10.963940,414.386291
4,Banco do Brasil,BBAS3.SA,0.050,BBAS3,19.009806,500.0,26.302215,24.076094,633.254597
5,Weg SA,WEGE3.SA,0.050,WEGE3,16.282774,500.0,30.707298,52.351711,1607.579623
6,Ambev SA,ABEV3.SA,0.045,ABEV3,15.051881,450.0,29.896596,11.526866,344.614054
7,Localiza Rent a Car,RENT3.SA,0.045,RENT3,43.953621,450.0,10.238064,31.777956,325.344759
8,Suzano SA,SUZB3.SA,0.045,SUZB3,36.264065,450.0,12.408978,61.779999,766.626676
9,Equatorial Energia,EQTL3.SA,0.040,EQTL3,22.415335,400.0,17.844926,26.790539,478.075195
10,Rumo SA,RAIL3.SA,0.040,RAIL3,26.160540,400.0,15.290204,17.840000,272.777250
11,Telefônica Brasil,VIVT3.SA,0.040,VIVT3,14.794761,400.0,27.036598,22.001720,594.851674
12,JBS SA,JBSS3.SA,0.035,JBSS3,17.976547,350.0,19.469812,33.886524,659.764265
13,Gerdau SA,GGBR4.SA,0.035,GGBR4,11.264825,350.0,31.070168,17.885897,555.717813
14,Engie Brasil,EGIE3.SA,0.035,EGIE3,37.733086,350.0,9.275679,34.736439,322.204065
15,Lojas Renner,LREN3.SA,0.030,LREN3,42.073723,300.0,7.130341,11.940256,85.138100
16,Raia Drogasil,RADL3.SA,0.030,RADL3,20.955566,300.0,14.316005,21.857140,312.906926
17,Marcopolo,POMO4.SA,0.030,POMO4,3.453853,300.0,86.859507,7.071404,614.218703
18,Multiplan,MULT3.SA,0.030,MULT3,28.042656,300.0,10.697988,20.464798,218.932165
19,CCR SA,CCRO3.SA,0.030,CCRO3,16.876839,300.0,17.775841,10.170000,180.780304

In [169]:
deepseek.drop(columns=['cod'],inplace = True)
deepseek

,nome_empresa,ticker,participacao,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,Vale SA,VALE3.SA,0.095,32.831028,950.0,28.936042,52.500935,1519.169241
1,Petróleo Brasileiro SA,PETR4.SA,0.125,9.304729,1250.0,134.340284,34.297951,4607.596449
2,Itaú Unibanco,ITUB4.SA,0.090,28.415331,900.0,31.673043,26.625174,843.300270
3,Banco Bradesco,BBDC4.SA,0.080,21.166607,800.0,37.795382,10.963940,414.386291
4,Banco do Brasil,BBAS3.SA,0.050,19.009806,500.0,26.302215,24.076094,633.254597
5,Weg SA,WEGE3.SA,0.050,16.282774,500.0,30.707298,52.351711,1607.579623
6,Ambev SA,ABEV3.SA,0.045,15.051881,450.0,29.896596,11.526866,344.614054
7,Localiza Rent a Car,RENT3.SA,0.045,43.953621,450.0,10.238064,31.777956,325.344759
8,Suzano SA,SUZB3.SA,0.045,36.264065,450.0,12.408978,61.779999,766.626676
9,Equatorial Energia,EQTL3.SA,0.040,22.415335,400.0,17.844926,26.790539,478.075195
10,Rumo SA,RAIL3.SA,0.040,26.160540,400.0,15.290204,17.840000,272.777250
11,Telefônica Brasil,VIVT3.SA,0.040,14.794761,400.0,27.036598,22.001720,594.851674
12,JBS SA,JBSS3.SA,0.035,17.976547,350.0,19.469812,33.886524,659.764265
13,Gerdau SA,GGBR4.SA,0.035,11.264825,350.0,31.070168,17.885897,555.717813
14,Engie Brasil,EGIE3.SA,0.035,37.733086,350.0,9.275679,34.736439,322.204065
15,Lojas Renner,LREN3.SA,0.030,42.073723,300.0,7.130341,11.940256,85.138100
16,Raia Drogasil,RADL3.SA,0.030,20.955566,300.0,14.316005,21.857140,312.906926
17,Marcopolo,POMO4.SA,0.030,3.453853,300.0,86.859507,7.071404,614.218703
18,Multiplan,MULT3.SA,0.030,28.042656,300.0,10.697988,20.464798,218.932165
19,CCR SA,CCRO3.SA,0.030,16.876839,300.0,17.775841,10.170000,180.780304

In [170]:
deepseek.to_csv('carteira_deepseek.csv', sep = ';', index = False)

In [171]:
retorno_carteira_deepseek

           Date  valor_carteira  valor_carteira_reais
0    2020-01-02        1.000000          10000.000000
1    2020-01-03        0.992605           9926.046147
2    2020-01-06        0.985367           9853.665023
3    2020-01-07        0.986454           9864.541991
4    2020-01-08        0.984128           9841.281987
...         ...             ...                   ...
1239 2024-12-20        1.557823          15578.232478
1240 2024-12-23        1.540941          15409.411844
1241 2024-12-26        1.547150          15471.497177
1242 2024-12-27        1.534429          15344.287755
1243 2024-12-30        1.535724          15357.238422

[1244 rows x 3 columns]

In [172]:
retorno_carteira_deepseek.to_csv('deepseek_normalizado.csv', sep = ';', index = False)

### chatgpt

In [173]:
chatgpt

,nome da empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,Vale S.A.,VALE3.SA,0.14,VALE3,32.831028,1400.0,42.642588,52.500935,2238.775724
1,Petrobras,PETR4.SA,0.12,PETR4,9.304729,1200.0,128.966673,34.297951,4423.292591
2,Itaú Unibanco,ITUB4.SA,0.07,ITUB4,28.415331,700.0,24.634589,26.625174,655.900210
3,Banco do Brasil,BBAS3.SA,0.06,BBAS3,19.009806,600.0,31.562658,24.076094,759.905517
4,Bradesco,BBDC4.SA,0.06,BBDC4,21.166607,600.0,28.346537,10.963940,310.789718
5,Ambev,ABEV3.SA,0.05,ABEV3,15.051881,500.0,33.218440,11.526866,382.904505
6,WEG S.A.,WEGE3.SA,0.05,WEGE3,16.282774,500.0,30.707298,52.351711,1607.579623
7,JBS S.A.,JBSS3.SA,0.05,JBSS3,17.976547,500.0,27.814018,33.886524,942.520378
8,Suzano,SUZB3.SA,0.05,SUZB3,36.264065,500.0,13.787754,61.779999,851.807418
9,B3 S.A.,B3SA3.SA,0.05,B3SA3,12.283061,500.0,40.706466,10.255966,417.484134
10,Equatorial Energia,EQTL3.SA,0.04,EQTL3,22.415335,400.0,17.844926,26.790539,478.075195
11,Engie Brasil,EGIE3.SA,0.04,EGIE3,37.733086,400.0,10.600776,34.736439,368.233217
12,CPFL Energia,CPFE3.SA,0.04,CPFE3,24.327658,400.0,16.442191,31.590000,519.408823
13,Localiza,RENT3.SA,0.03,RENT3,43.953621,300.0,6.825376,31.777956,216.896506
14,Magazine Luiza,MGLU3.SA,0.03,MGLU3,111.654091,300.0,2.686870,6.310057,16.954300
15,Lojas Renner,LREN3.SA,0.03,LREN3,42.073723,300.0,7.130341,11.940256,85.138100
16,Raia Drogasil,RADL3.SA,0.03,RADL3,20.955566,300.0,14.316005,21.857140,312.906926
17,Totvs,TOTS3.SA,0.02,TOTS3,21.556515,200.0,9.277938,26.638475,247.150114
18,Sabesp,SBSP3.SA,0.02,SBSP3,52.544147,200.0,3.806323,85.627159,325.924630
19,Natura,NTCO3.SA,0.02,NTCO3,36.566544,200.0,5.469481,12.760000,69.790573

In [ ]:
chatgpt.drop(columns=['cod'],inplace = True)

In [175]:
chatgpt.to_csv('carteira_chatgpt.csv', sep = ';', index = False)
retorno_carteira_chatgpt.to_csv('chatgpt_normalizado.csv', sep = ';', index = False)

#### Gemini

In [176]:
gemini

,nome_empresa,ticker,participacao,cod,valor_inicial_acao,valor_investido,qtd_acoes,valor_final,resultado
0,Itaú Unibanco,ITUB4.SA,0.10,ITUB4,28.415331,1000.0,35.192270,26.625174,937.000300
1,Banco Bradesco,BBDC4.SA,0.10,BBDC4,21.166607,1000.0,47.244228,10.963940,517.982864
2,BTG Pactual S.A.,BPAC11.SA,0.04,BPAC1,16.819351,400.0,23.782130,27.048960,643.281882
3,Vale S.A.,VALE3.SA,0.06,VALE3,32.831028,600.0,18.275395,52.500935,959.475310
4,Petróleo Brasileiro S.A. - Petrobras,PETR4.SA,0.11,PETR4,9.304729,1100.0,118.219450,34.297951,4054.684876
5,Ambev S.A.,ABEV3.SA,0.05,ABEV3,15.051881,500.0,33.218440,11.526866,382.904505
6,Magazine Luiza S.A.,MGLU3.SA,0.03,MGLU3,111.654091,300.0,2.686870,6.310057,16.954300
7,WEG S.A.,WEGE3.SA,0.05,WEGE3,16.282774,500.0,30.707298,52.351711,1607.579623
8,Localiza Rent a Car S.A.,RENT3.SA,0.04,RENT3,43.953621,400.0,9.100502,31.777956,289.195341
9,Suzano S.A.,SUZB3.SA,0.04,SUZB3,36.264065,400.0,11.030203,61.779999,681.445934
10,Engie Brasil Energia S.A.,EGIE3.SA,0.05,EGIE3,37.733086,500.0,13.250970,34.736439,460.291521
11,CCR S.A.,CCRO3.SA,0.04,CCRO3,16.876839,400.0,23.701121,10.170000,241.040405
12,Telefônica Brasil S.A.,VIVT3.SA,0.04,VIVT3,14.794761,400.0,27.036598,22.001720,594.851674
13,Natura &Co Holding S.A.,NTCO3.SA,0.03,NTCO3,36.566544,300.0,8.204221,12.760000,104.685860
14,"B3 S.A. - Brasil, Bolsa, Balcão",B3SA3.SA,0.05,B3SA3,12.283061,500.0,40.706466,10.255966,417.484134
15,TIM S.A.,TIMS3.SA,0.03,TIMS3,11.480997,300.0,26.130135,13.508012,352.966168
16,Raia Drogasil S.A.,RADL3.SA,0.04,RADL3,20.955566,400.0,19.088007,21.857140,417.209235
17,Ultrapar Participações S.A.,UGPA3.SA,0.04,UGPA3,9.997924,400.0,40.008306,15.433212,617.456684
18,Gerdau S.A.,GGBR4.SA,0.04,GGBR4,11.264825,400.0,35.508763,17.885897,635.106072
19,Cyrela Commercial Properties S.A.,CYRE3.SA,0.02,CYRE3,23.911976,200.0,8.364010,16.240173,135.832969

In [177]:
gemini.drop(columns=['cod'],inplace = True)
gemini.to_csv('carteira_gemini.csv', sep = ';', index = False)
retorno_carteira_gemini.to_csv('gemini_normalizado.csv', sep = ';', index = False)

## juntando carteiras

In [20]:
di = pd.read_csv('taxa_di_normalizado.csv', sep = ';')
di['val_di_reais'] = 10000*di['valor_acumulado']
di

            Data  valor_acumulado  val_di_reais
0     2020-01-02         1.000000  10000.000000
1     2020-01-03         1.000171  10001.708900
2     2020-01-06         1.000342  10003.418092
3     2020-01-07         1.000513  10005.127576
4     2020-01-08         1.000684  10006.837352
...          ...              ...           ...
1250  2024-12-24         1.508509  15085.089429
1251  2024-12-26         1.509196  15091.955106
1252  2024-12-27         1.509882  15098.823907
1253  2024-12-30         1.510570  15105.695835
1254  2024-12-31         1.511257  15112.570890

[1255 rows x 3 columns]

In [2]:
import pandas as pd

In [3]:
cg = pd.read_csv('chatgpt_normalizado.csv', sep = ';')
cg

            Date  valor_carteira  valor_carteira_reais
0     2020-01-02        1.000000          10000.000000
1     2020-01-03        0.994128           9941.276420
2     2020-01-06        0.988375           9883.746730
3     2020-01-07        0.988713           9887.127052
4     2020-01-08        0.987489           9874.889715
...          ...             ...                   ...
1239  2024-12-20        1.535955          15359.550843
1240  2024-12-23        1.526194          15261.944638
1241  2024-12-26        1.533216          15332.159619
1242  2024-12-27        1.521156          15211.560420
1243  2024-12-30        1.523144          15231.438204

[1244 rows x 3 columns]

In [12]:
cg.rename(columns={'val_deepseek':'val_chatgpt', 'val_deepseek_reais':'val_chatgpt_reais'},inplace = True)
cg

            Date  val_chatgpt  val_chatgpt_reais
0     2020-01-02     1.000000       10000.000000
1     2020-01-03     0.994128        9941.276420
2     2020-01-06     0.988375        9883.746730
3     2020-01-07     0.988713        9887.127052
4     2020-01-08     0.987489        9874.889715
...          ...          ...                ...
1239  2024-12-20     1.535955       15359.550843
1240  2024-12-23     1.526194       15261.944638
1241  2024-12-26     1.533216       15332.159619
1242  2024-12-27     1.521156       15211.560420
1243  2024-12-30     1.523144       15231.438204

[1244 rows x 3 columns]

In [8]:
ib = pd.read_csv('ibovespa_normalizado.csv', sep = ';')
ib

            Date  valor_carteira  valor_carteira_reais
0     2020-01-02        0.999984           9999.836000
1     2020-01-03        0.994501           9945.009252
2     2020-01-06        0.991016           9910.156373
3     2020-01-07        0.990980           9909.797117
4     2020-01-08        0.986850           9868.499473
...          ...             ...                   ...
1239  2024-12-20        1.574759          15747.587182
1240  2024-12-23        1.561445          15614.452286
1241  2024-12-26        1.564394          15643.943459
1242  2024-12-27        1.554315          15543.153690
1243  2024-12-30        1.556810          15568.101285

[1244 rows x 3 columns]

In [9]:
ib.rename(columns={'valor_carteira':'val_ibovespa', 'valor_carteira_reais':'val_ibovespa_reais'},inplace = True)
ib

            Date  val_ibovespa  val_ibovespa_reais
0     2020-01-02      0.999984         9999.836000
1     2020-01-03      0.994501         9945.009252
2     2020-01-06      0.991016         9910.156373
3     2020-01-07      0.990980         9909.797117
4     2020-01-08      0.986850         9868.499473
...          ...           ...                 ...
1239  2024-12-20      1.574759        15747.587182
1240  2024-12-23      1.561445        15614.452286
1241  2024-12-26      1.564394        15643.943459
1242  2024-12-27      1.554315        15543.153690
1243  2024-12-30      1.556810        15568.101285

[1244 rows x 3 columns]

In [14]:
ds=pd.read_csv('deepseek_normalizado.csv', sep = ';')
ds

            Date  valor_carteira  valor_carteira_reais
0     2020-01-02        1.000000          10000.000000
1     2020-01-03        0.992605           9926.046147
2     2020-01-06        0.985367           9853.665023
3     2020-01-07        0.986454           9864.541991
4     2020-01-08        0.984128           9841.281987
...          ...             ...                   ...
1239  2024-12-20        1.557823          15578.232478
1240  2024-12-23        1.540941          15409.411844
1241  2024-12-26        1.547150          15471.497177
1242  2024-12-27        1.534429          15344.287755
1243  2024-12-30        1.535724          15357.238422

[1244 rows x 3 columns]

In [15]:
ds.rename(columns={'valor_carteira':'val_deepseek', 'valor_carteira_reais':'val_deepseek_reais'},inplace = True)
ds

            Date  val_deepseek  val_deepseek_reais
0     2020-01-02      1.000000        10000.000000
1     2020-01-03      0.992605         9926.046147
2     2020-01-06      0.985367         9853.665023
3     2020-01-07      0.986454         9864.541991
4     2020-01-08      0.984128         9841.281987
...          ...           ...                 ...
1239  2024-12-20      1.557823        15578.232478
1240  2024-12-23      1.540941        15409.411844
1241  2024-12-26      1.547150        15471.497177
1242  2024-12-27      1.534429        15344.287755
1243  2024-12-30      1.535724        15357.238422

[1244 rows x 3 columns]

In [ ]:
ib.rename(columns={'valor_carteira':'val_ibovespa', 'valor_carteira_reais':'val_ibovespa_reais'},inplace = True)
ib

In [17]:
gm = pd.read_csv('gemini_normalizado.csv', sep = ';')
gm.rename(columns={'valor_carteira':'val_gemini', 'valor_carteira_reais':'val_gemini_reais'},inplace = True)
gm

            Date  val_gemini  val_gemini_reais
0     2020-01-02    1.000000      10000.000000
1     2020-01-03    0.995538       9955.379486
2     2020-01-06    0.988089       9880.887733
3     2020-01-07    0.990826       9908.260776
4     2020-01-08    0.987056       9870.555507
...          ...         ...               ...
1239  2024-12-20    1.430300      14302.999650
1240  2024-12-23    1.415155      14151.553332
1241  2024-12-26    1.418824      14188.240175
1242  2024-12-27    1.406767      14067.666526
1243  2024-12-30    1.406743      14067.429658

[1244 rows x 3 columns]

In [29]:
datas = ib['Date'].to_list()

In [ ]:
#filtrando os dias uteis da ibovespa, para ter dados com as mesmas dimensoes
di_valido = di[di['Data'].isin(datas)].reset_index(drop=True)
di_valido

            Data  valor_acumulado  val_di_reais
0     2020-01-02         1.000000  10000.000000
1     2020-01-03         1.000171  10001.708900
2     2020-01-06         1.000342  10003.418092
3     2020-01-07         1.000513  10005.127576
4     2020-01-08         1.000684  10006.837352
...          ...              ...           ...
1239  2024-12-20         1.507137  15071.367444
1240  2024-12-23         1.507823  15078.226876
1241  2024-12-26         1.509196  15091.955106
1242  2024-12-27         1.509882  15098.823907
1243  2024-12-30         1.510570  15105.695835

[1244 rows x 3 columns]

In [ ]:
#di com os mesmos dias que o ibov
di_valido

            Data  valor_acumulado  val_di_reais
0     2020-01-02         1.000000  10000.000000
1     2020-01-03         1.000171  10001.708900
2     2020-01-06         1.000342  10003.418092
3     2020-01-07         1.000513  10005.127576
4     2020-01-08         1.000684  10006.837352
...          ...              ...           ...
1248  2024-12-20         1.507137  15071.367444
1249  2024-12-23         1.507823  15078.226876
1251  2024-12-26         1.509196  15091.955106
1252  2024-12-27         1.509882  15098.823907
1253  2024-12-30         1.510570  15105.695835

[1244 rows x 3 columns]

In [ ]:
comparacao = ib.merge(di_valido, 
            left_index=True, 
            right_index=True,
            how = 'outer')

,Date,val_ibovespa,val_ibovespa_reais,Data,valor_acumulado,val_di_reais
0,2020-01-02,0.999984,9999.836000,2020-01-02,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,2020-01-03,1.000171,10001.708900
2,2020-01-06,0.991016,9910.156373,2020-01-06,1.000342,10003.418092
3,2020-01-07,0.990980,9909.797117,2020-01-07,1.000513,10005.127576
4,2020-01-08,0.986850,9868.499473,2020-01-08,1.000684,10006.837352
...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,2024-12-20,1.507137,15071.367444
1240,2024-12-23,1.561445,15614.452286,2024-12-23,1.507823,15078.226876
1241,2024-12-26,1.564394,15643.943459,2024-12-26,1.509196,15091.955106
1242,2024-12-27,1.554315,15543.153690,2024-12-27,1.509882,15098.823907
1243,2024-12-30,1.556810,15568.101285,2024-12-30,1.510570,15105.695835

In [45]:
comparacao.drop(columns=['Data'], inplace=True)
comparacao

,Date,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352
...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835

In [46]:
comparacao = comparacao.merge(ds, 
            left_index=True, 
            right_index=True,
            how = 'outer')
comparacao

,Date_x,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,Date_y,val_deepseek,val_deepseek_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,2020-01-02,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,2020-01-03,0.992605,9926.046147
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,2020-01-06,0.985367,9853.665023
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,2020-01-07,0.986454,9864.541991
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,2020-01-08,0.984128,9841.281987
...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,2024-12-20,1.557823,15578.232478
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,2024-12-23,1.540941,15409.411844
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,2024-12-26,1.547150,15471.497177
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,2024-12-27,1.534429,15344.287755
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,2024-12-30,1.535724,15357.238422

In [47]:
comparacao = comparacao.merge(cg, 
            left_index=True, 
            right_index=True,
            how = 'outer')
comparacao

,Date_x,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,Date_y,val_deepseek,val_deepseek_reais,Date,val_chatgpt,val_chatgpt_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,2020-01-02,1.000000,10000.000000,2020-01-02,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,2020-01-03,0.992605,9926.046147,2020-01-03,0.994128,9941.276420
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,2020-01-06,0.985367,9853.665023,2020-01-06,0.988375,9883.746730
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,2020-01-07,0.986454,9864.541991,2020-01-07,0.988713,9887.127052
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,2020-01-08,0.984128,9841.281987,2020-01-08,0.987489,9874.889715
...,...,...,...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,2024-12-20,1.557823,15578.232478,2024-12-20,1.535955,15359.550843
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,2024-12-23,1.540941,15409.411844,2024-12-23,1.526194,15261.944638
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,2024-12-26,1.547150,15471.497177,2024-12-26,1.533216,15332.159619
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,2024-12-27,1.534429,15344.287755,2024-12-27,1.521156,15211.560420
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,2024-12-30,1.535724,15357.238422,2024-12-30,1.523144,15231.438204

In [50]:
comparacao.drop(columns=['Date'],inplace=True)

In [49]:
gm

            Date  val_gemini  val_gemini_reais
0     2020-01-02    1.000000      10000.000000
1     2020-01-03    0.995538       9955.379486
2     2020-01-06    0.988089       9880.887733
3     2020-01-07    0.990826       9908.260776
4     2020-01-08    0.987056       9870.555507
...          ...         ...               ...
1239  2024-12-20    1.430300      14302.999650
1240  2024-12-23    1.415155      14151.553332
1241  2024-12-26    1.418824      14188.240175
1242  2024-12-27    1.406767      14067.666526
1243  2024-12-30    1.406743      14067.429658

[1244 rows x 3 columns]

In [51]:
comparacao=comparacao.merge(gm, 
            left_index=True, 
            right_index=True,
            how = 'outer')
comparacao

,Date_x,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,Date_y,val_deepseek,val_deepseek_reais,val_chatgpt,val_chatgpt_reais,Date,val_gemini,val_gemini_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,2020-01-02,1.000000,10000.000000,1.000000,10000.000000,2020-01-02,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,2020-01-03,0.992605,9926.046147,0.994128,9941.276420,2020-01-03,0.995538,9955.379486
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,2020-01-06,0.985367,9853.665023,0.988375,9883.746730,2020-01-06,0.988089,9880.887733
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,2020-01-07,0.986454,9864.541991,0.988713,9887.127052,2020-01-07,0.990826,9908.260776
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,2020-01-08,0.984128,9841.281987,0.987489,9874.889715,2020-01-08,0.987056,9870.555507
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,2024-12-20,1.557823,15578.232478,1.535955,15359.550843,2024-12-20,1.430300,14302.999650
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,2024-12-23,1.540941,15409.411844,1.526194,15261.944638,2024-12-23,1.415155,14151.553332
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,2024-12-26,1.547150,15471.497177,1.533216,15332.159619,2024-12-26,1.418824,14188.240175
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,2024-12-27,1.534429,15344.287755,1.521156,15211.560420,2024-12-27,1.406767,14067.666526
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,2024-12-30,1.535724,15357.238422,1.523144,15231.438204,2024-12-30,1.406743,14067.429658

In [52]:
comparacao.columns

Index(['Date_x', 'val_ibovespa', 'val_ibovespa_reais', 'valor_acumulado',
       'val_di_reais', 'Date_y', 'val_deepseek', 'val_deepseek_reais',
       'val_chatgpt', 'val_chatgpt_reais', 'Date', 'val_gemini',
       'val_gemini_reais'],
      dtype='object')

In [53]:
comparacao.drop(columns=['Date_y',  'Date'],inplace = True)
comparacao

,Date_x,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,val_deepseek,val_deepseek_reais,val_chatgpt,val_chatgpt_reais,val_gemini,val_gemini_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,0.992605,9926.046147,0.994128,9941.276420,0.995538,9955.379486
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,0.985367,9853.665023,0.988375,9883.746730,0.988089,9880.887733
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,0.986454,9864.541991,0.988713,9887.127052,0.990826,9908.260776
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,0.984128,9841.281987,0.987489,9874.889715,0.987056,9870.555507
...,...,...,...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,1.557823,15578.232478,1.535955,15359.550843,1.430300,14302.999650
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,1.540941,15409.411844,1.526194,15261.944638,1.415155,14151.553332
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,1.547150,15471.497177,1.533216,15332.159619,1.418824,14188.240175
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,1.534429,15344.287755,1.521156,15211.560420,1.406767,14067.666526
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,1.535724,15357.238422,1.523144,15231.438204,1.406743,14067.429658

In [54]:
comparacao.rename(columns={'Date_x':'Data'}, inplace = True)
comparacao

,Data,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,val_deepseek,val_deepseek_reais,val_chatgpt,val_chatgpt_reais,val_gemini,val_gemini_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,0.992605,9926.046147,0.994128,9941.276420,0.995538,9955.379486
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,0.985367,9853.665023,0.988375,9883.746730,0.988089,9880.887733
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,0.986454,9864.541991,0.988713,9887.127052,0.990826,9908.260776
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,0.984128,9841.281987,0.987489,9874.889715,0.987056,9870.555507
...,...,...,...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,1.557823,15578.232478,1.535955,15359.550843,1.430300,14302.999650
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,1.540941,15409.411844,1.526194,15261.944638,1.415155,14151.553332
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,1.547150,15471.497177,1.533216,15332.159619,1.418824,14188.240175
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,1.534429,15344.287755,1.521156,15211.560420,1.406767,14067.666526
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,1.535724,15357.238422,1.523144,15231.438204,1.406743,14067.429658

In [55]:
comparacao.to_csv('carteiras.csv', sep =';', index = False)

In [1]:
import pandas as pd
comp= pd.read_csv('carteiras.csv',sep = ';')
comp

,Data,val_ibovespa,val_ibovespa_reais,valor_acumulado,val_di_reais,val_deepseek,val_deepseek_reais,val_chatgpt,val_chatgpt_reais,val_gemini,val_gemini_reais
0,2020-01-02,0.999984,9999.836000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000,1.000000,10000.000000
1,2020-01-03,0.994501,9945.009252,1.000171,10001.708900,0.992605,9926.046147,0.994128,9941.276420,0.995538,9955.379486
2,2020-01-06,0.991016,9910.156373,1.000342,10003.418092,0.985367,9853.665023,0.988375,9883.746730,0.988089,9880.887733
3,2020-01-07,0.990980,9909.797117,1.000513,10005.127576,0.986454,9864.541991,0.988713,9887.127052,0.990826,9908.260776
4,2020-01-08,0.986850,9868.499473,1.000684,10006.837352,0.984128,9841.281987,0.987489,9874.889715,0.987056,9870.555507
...,...,...,...,...,...,...,...,...,...,...,...
1239,2024-12-20,1.574759,15747.587182,1.507137,15071.367444,1.557823,15578.232478,1.535955,15359.550843,1.430300,14302.999650
1240,2024-12-23,1.561445,15614.452286,1.507823,15078.226876,1.540941,15409.411844,1.526194,15261.944638,1.415155,14151.553332
1241,2024-12-26,1.564394,15643.943459,1.509196,15091.955106,1.547150,15471.497177,1.533216,15332.159619,1.418824,14188.240175
1242,2024-12-27,1.554315,15543.153690,1.509882,15098.823907,1.534429,15344.287755,1.521156,15211.560420,1.406767,14067.666526
1243,2024-12-30,1.556810,15568.101285,1.510570,15105.695835,1.535724,15357.238422,1.523144,15231.438204,1.406743,14067.429658

In [4]:
comp.columns

Index(['Data', 'val_ibovespa', 'val_ibovespa_reais', 'valor_acumulado',
       'val_di_reais', 'val_deepseek', 'val_deepseek_reais', 'val_chatgpt',
       'val_chatgpt_reais', 'val_gemini', 'val_gemini_reais'],
      dtype='object')

In [2]:
comp.to_excel('carteiras_excel.xlsx')

In [3]:
import plotly.express as px

In [6]:
carteiras_grafico = ['val_ibovespa_reais', 
       'val_di_reais',  'val_deepseek_reais', 
       'val_chatgpt_reais', 'val_gemini_reais']

In [8]:
px.line(comp, x='Data', y=carteiras_grafico)